<div class="page-content-inner">

    <!-- Edit Destination -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Destination</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formDestination" name="destination" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputName">Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputName"
                                           name="name"
                                           class="form-control"
                                           placeholder="Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="textAreaDescription">Description</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textAreaDescription"
                                              name="description"
                                              class="form-control"
                                              rows="3"
                                              placeholder="Description"
                                              ng-model="data.description">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="ngMapLocation">Location</label>
                                </div>
                                <div class="col-md-6">
                                    <ng-map id="ngMapLocation"
                                            name="location"
                                            center="[{{ data.lat }}, {{ data.lng }}]"
                                            zoom-control="true"
                                            zoom="8"
                                            on-click="getPositionLocation($event)"
                                            ng-if="renderlocation">
                                        <marker position="[{{ data.lat }}, {{ data.lng }}]"
                                                title="Position of Location"
                                                on-dragend="getPositionLocation($event)"
                                                animation="DROP"
                                                draggable="true"></marker>
                                    </ng-map>
                                    <input type="hidden"
                                           id="inputLat"
                                           name="lat"
                                           class="form-control"
                                           ng-model="data.lat">
                                    <input type="hidden"
                                           id="inputLng"
                                           name="lng"
                                           class="form-control"
                                           ng-model="data.lng">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputImage">Image</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="file"
                                           id="inputImage"
                                           name="image"
                                           accept="image/jpeg,image/jpg,image/png,image/gif"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectParent">Parent</label>
                                </div>
                                <div class="col-md-2">
                                    <select id="selectParent"
                                            name="parent"
                                            class="select2"
                                            ng-model="data.parent_id"
                                            ng-init="initializeDestination()">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <input type="hidden"
                                       id="inputImageUrl"
                                       name="imageUrl"
                                       class="form-control"
                                       ng-model="data.image_url">
                                <button type="submit" class="btn btn-primary width-150" ng-disabled="loadingSlug" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Destination -->

</div>