<div class="page-content-inner">

    <!-- Edit Tag -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Tag</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="form-validation" name="form-validation" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-name">Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="validation-name"
                                           class="form-control"
                                           placeholder="Name"
                                           ng-model="data.name"
                                           ng-blur="getSlug(data.name)"
                                           name="validation[name]"
                                           data-validation="[NOTEMPTY]">
                                </div>
                            </div>
                            <span><strong>Slug:&nbsp;</strong><i>{{ data.slug }}</i><i ng-if="loadingSlug" class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" ng-disabled="loadingSlug" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Tag -->

</div>