<div class="page-content-inner">

    <!-- Add Tag -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Add Tag</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formProductTag" name="productTag" method="POST" validate="create()">
                            <div class="form-group row" ng-if="session.role == 'super' || session.role == 'admin'">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectAgent">Agent</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectAgent"
                                            name="agent"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.agent_id"
                                            ng-init="initializeAgent()">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputName">Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputName"
                                           name="name"
                                           class="form-control"
                                           placeholder="Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.name"
                                           ng-blur="getSlug(data.name)">
                                </div>
                            </div>
                            <span><strong>Slug:&nbsp;</strong><i>{{ data.slug }}</i><i ng-if="loadingSlug" class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputAgentId"
                                       name="agentId"
                                       ng-model="data.agent_id"
                                       ng-if="session.role != 'super' || session.role != 'admin'">
                                <button type="submit" class="btn btn-primary width-150" ng-disabled="loadingSlug" ladda="loading" data-style="expand-right">Create</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add Tag -->

</div>