<div class="page-content-inner">

    <!-- Add Agent -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Add Agent</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formAgent" name="agent" method="POST" validate="create(agent)" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectAgentType">Agent Type</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectAgentType"
                                            class="select2"
                                            name="agentType"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.agent_type_id"
                                            ng-init="initializeAgentType()">
                                        <option value=""></option>
                                        <option ng-repeat="agentType in agentTypes" value="{{ agentType.id }}">{{ agentType.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectTitle">Title</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectTitle"
                                            name="title"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.title"
                                            ng-init="initializeTitle()">
                                        <option value=""></option>
                                        <option ng-repeat="title in titles" value="{{ title.id }}">{{ title.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputFirstName">First Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputFirstName"
                                           name="firstName"
                                           class="form-control"
                                           placeholder="First Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputLastName">Last Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputLastName"
                                           name="lastName"
                                           class="form-control"
                                           placeholder="Last Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Gender</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.gender" uib-btn-radio="'male'">Male</label>
                                        <label class="btn btn-success" ng-model="data.gender" uib-btn-radio="'female'">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputCompany">Company</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputCompany"
                                           name="company"
                                           class="form-control"
                                           placeholder="Company"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.company">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="textAreaAddress">Address</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textAreaAddress"
                                              name="address"
                                              class="form-control"
                                              rows="2"
                                              placeholder="Address"
                                              data-validation="[NOTEMPTY]"
                                              ng-model="data.address">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectCountry">Country</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectCountry"
                                            class="select2"
                                            name="country"
                                            data-validation="[NOTEMPTY]"
                                            ng-change="getStateListByCountry(data.country_id)"
                                            ng-init="initializeCountry()"
                                            ng-model="data.country_id">
                                        <option value=""></option>
                                        <option ng-repeat="country in countries" value="{{ country.id }}">{{ country.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectState">State</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectState"
                                            name="state"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.state_id"
                                            ng-init="initializeState()">
                                        <option value=""></option>
                                        <option ng-repeat="state in states" value="{{ state.id }}">{{ state.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputCity">City</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputCity"
                                           name="city"
                                           class="form-control"
                                           placeholder="City"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.city">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputZip">Zip</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputZip"
                                           name="zip"
                                           class="form-control"
                                           placeholder="Zip"
                                           data-validation="[OPTIONAL]"
                                           data-validation-regex="/^(\s*|\d+)$/"
                                           data-validation-regex-message="Zip must be an integer"
                                           ng-model="data.zip">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputImage">Image</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="file"
                                           id="inputImage"
                                           name="image"
                                           accept="image/jpeg,image/jpg,image/png,image/gif"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputPhone">Phone</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           id="inputPhone"
                                           name="phone"
                                           class="form-control"
                                           data-validation="[NOTEMPTY]"
                                           data-validation-regex="/^\+?\d+$/"
                                           data-validation-regex-message="Phone must be a +623614745677 or 03614745677"
                                           ng-model="data.phone"
                                           ng-intl-tel-input>
                                    <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="agent.phone.$invalid && agent.phone.$touched">Invalid phone number</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputFax">Fax</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           id="inputFax"
                                           name="fax"
                                           class="form-control"
                                           data-validation="[OPTIONAL]"
                                           data-validation-regex="/^\+?\d+$/"
                                           data-validation-regex-message="Fax must be a +623614745677 or 03614745677"
                                           ng-model="data.fax"
                                           ng-intl-tel-input>
                                    <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="agent.fax.$invalid && agent.fax.$touched">Invalid fax number</span>
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"><strong>User already ?</strong></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="userAlready" uib-btn-radio="false">No</label>
                                        <label class="btn btn-success" ng-model="userAlready" uib-btn-radio="true">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <section ng-if="!userAlready">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="selectRole">Role</label>
                                    </div>
                                    <div class="col-md-10">
                                        <select id="selectRole"
                                                name="role"
                                                class="select2"
                                                data-validation="[NOTEMPTY]"
                                                ng-model="data.user.role.id"
                                                ng-init="initializeRole()">
                                            <option value=""></option>
                                            <option ng-repeat="item in roles" value="{{ item.id }}">{{ item.role }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="inputEmail">Email</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text"
                                               id="inputEmail"
                                               name="email"
                                               class="form-control"
                                               placeholder="Email"
                                               data-validation="[NOTEMPTY, EMAIL]"
                                               ng-model="data.user.email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="inputPassword">Password</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="password"
                                               id="inputPassword"
                                               name="password"
                                               class="form-control"
                                               placeholder="Password"
                                               data-validation="[NOTEMPTY, L>=5]"
                                               ng-model="data.user.password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="inputConfirmPassword">Confirm Password</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="password"
                                               id="inputConfirmPassword"
                                               name="confirmPassword"
                                               class="form-control"
                                               placeholder="Confrim Password"
                                               data-validation="[V==password]"
                                               ng-model="data.user.password_confirmation">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="inputHandphone">Handphone</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text"
                                               id="inputHandphone"
                                               name="handphone"
                                               class="form-control"
                                               data-validation="[OPTIONAL]"
                                               data-validation-regex="/^\+?\d+$/"
                                               data-validation-regex-message="Handphone must be a +628113808231 or 08113808231"
                                               ng-model="data.user.handphone"
                                               ng-intl-tel-input>
                                        <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="agent.handphone.$invalid && agent.handphone.$touched">Invalid handphone number</span>
                                    </div>
                                </div>
                            </section>
                            <section ng-if="userAlready">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="selectUser">User</label>
                                    </div>
                                    <div class="col-md-10">
                                        <select id="selectUser"
                                                name="user"
                                                class="select2"
                                                data-validation="[NOTEMPTY]"
                                                ng-model="data.user_id"
                                                ng-init="initializeUser()">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading"
                                        data-style="expand-right">Create
                                </button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add Agent -->

</div>