<div class="page-content-inner">

    <!-- Edit Agent -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Agent</h2>
                    <div class="margin-bottom-50">
                        <form id="formAgent" name="agent" method="POST" validate="update(agent)" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectAgentType">Agent Type</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectAgentType"
                                            name="agentType"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.agent_type_id"
                                            ng-init="initializeAgentType()"
                                            ng-options="agentType.id as agentType.name for agentType in agentTypes">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectTitle">Title</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectTitle"
                                            name="title"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.title"
                                            ng-init="initializeTitle()"
                                            ng-options="title.id as title.name for title in titles">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputFirstName">First Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputFirstName"
                                           name="firstName"
                                           class="form-control"
                                           placeholder="First Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputLastName">Last Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputLastName"
                                           name="lastName"
                                           class="form-control"
                                           placeholder="Last Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Gender</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.gender" uib-btn-radio="'male'">Male</label>
                                        <label class="btn btn-success" ng-model="data.gender" uib-btn-radio="'female'">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputCompany">Company</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputCompany"
                                           name="company"
                                           class="form-control"
                                           placeholder="Company"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.company">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="textAreaAddress">Address</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textAreaAddress"
                                              name="address"
                                              class="form-control"
                                              rows="2"
                                              placeholder="Address"
                                              data-validation="[NOTEMPTY]"
                                              ng-model="data.address">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectCountry">Country</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectCountry"
                                            name="country"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.country_id"
                                            ng-change="getStateListByCountry(data.country_id)"
                                            ng-init="initializeCountry()"
                                            ng-options="country.id as country.name for country in countries">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectState">State</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectState"
                                            name="state"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.state_id"
                                            ng-init="initializeState()"
                                            ng-options="state.id as state.name for state in states">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectCity">City</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="selectCity"
                                           name="city"
                                           class="form-control"
                                           placeholder="City"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.city">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputZip">Zip</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputZip"
                                           name="zip"
                                           class="form-control"
                                           placeholder="Zip"
                                           data-validation="[OPTIONAL]"
                                           data-validation-regex="/^(\s*|\d+)$/"
                                           data-validation-regex-message="Zip must be an integer"
                                           ng-model="data.zip">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputImage">Image</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="file"
                                           id="inputImage"
                                           name="image"
                                           accept="image/jpeg,image/jpg,image/png,image/gif"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputPhone">Phone</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           id="inputPhone"
                                           name="phone"
                                           class="form-control"
                                           data-validation="[NOTEMPTY]"
                                           data-validation-regex="/^\+?\d+$/"
                                           data-validation-regex-message="Phone must be a +623614745677 or 03614745677"
                                           ng-model="data.phone"
                                           ng-intl-tel-input>
                                    <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="agent.phone.$invalid && agent.phone.$touched">Invalid phone number</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputFax">Fax</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           id="inputFax"
                                           name="fax"
                                           class="form-control"
                                           data-validation="[OPTIONAL]"
                                           data-validation-regex="/^\+?\d+$/"
                                           data-validation-regex-message="Fax must be a +623614745677 or 03614745677"
                                           ng-model="data.fax"
                                           ng-intl-tel-input>
                                    <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="agent.fax.$invalid && agent.fax.$touched">Invalid fax number</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputUserId"
                                       class="form-control"
                                       ng-model="data.user_id">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <input type="hidden"
                                       id="inputImageUrl"
                                       name="imageUrl"
                                       class="form-control"
                                       ng-model="data.image_url">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Agent -->

</div>