<div class="page-content-inner">

    <!-- Agent -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Agent</h2>
                    <br />
                    <div class="row">
                        <div class="col-md-8">
                            <button type="button" class="btn btn-success" ng-click="add()"><i class="fa fa-plus"></i>&nbsp;Add Agent</button>
                            <button type="button" class="btn btn-success" ng-click="reloadData()"><i class="icmn-loop3"></i>&nbsp;Refresh</button>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filterSelectCountry"
                                    name="country"
                                    ng-model="data.country_id"
                                    ng-init="initializeFilterCountry()"
                                    ng-change="refreshTableAndFilterState()">
                                <option value=""></option>
                                <option ng-repeat="country in countries" value="{{ country.id }}">{{ country.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filterSelectState"
                                    name="state"
                                    ng-model="data.state_id"
                                    ng-init="initializeFilterState()"
                                    ng-change="refreshTable()">
                                <option value=""></option>
                                <option ng-repeat="state in states" value="{{ state.id }}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="margin-bottom-50">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="view-detail" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Agent Detail</h4>
                    </div>
                    <div class="modal-body detail text-center" style="background-color: #1f5d42;">
                        <a class="avatar" href="javascript:void(0);">
                            <img ng-src="{{ agent.image_url }}" />
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Type :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.agent_type }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Title :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.title }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>First Name :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.first_name }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Last Name :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.last_name }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Gender :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label"><span class="label label-success">{{ agent.gender }}</span></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Company :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.company }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Address :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.address }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Country :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.country }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>State :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.state }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>City :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.city }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Zip :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.zip }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Phone :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.phone }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Fax :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ agent.fax }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Agent -->

</div>