<div class="page-content-inner">

    <!-- Add Staff -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Add Staff</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formStaff" name="staff" method="POST" validate="create(staff)" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputNik">NIK</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputNik"
                                           name="nik"
                                           class="form-control"
                                           placeholder="NIK"
                                           data-validation="[NOTEMPTY, INTEGER]"
                                           ng-model="data.nik">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectTitle">Title</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectTitle"
                                            name="title"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.title"
                                            ng-init="initializeTitle()">
                                        <option value=""></option>
                                        <option ng-repeat="title in titles" value="{{ title.id }}">{{ title.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputFirstName">First Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputFirstName"
                                           name="firstName"
                                           class="form-control"
                                           placeholder="First Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputLastName">Last Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputLastName"
                                           name="lastName"
                                           class="form-control"
                                           placeholder="Last Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Gender</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.gender" uib-btn-radio="'male'">Male</label>
                                        <label class="btn btn-success" ng-model="data.gender" uib-btn-radio="'female'">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="textAreaAddress">Address</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textAreaAddress"
                                              name="address"
                                              class="form-control"
                                              rows="2"
                                              placeholder="Address"
                                              data-validation="[NOTEMPTY]"
                                              ng-model="data.address">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectProvince">Province</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectProvince"
                                            name="province"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.province_id"
                                            ng-change="getRegencyListByProvince(data.province_id)"
                                            ng-init="initializeProvince()">
                                        <option value=""></option>
                                        <option ng-repeat="province in provinces" value="{{ province.id }}">{{ province.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectRegency">Regency</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectRegency"
                                            name="regency"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.regency_id"
                                            ng-change="getDistrictListByRegency(data.regency_id)"
                                            ng-init="initializeRegency()">
                                        <option value=""></option>
                                        <option ng-repeat="regency in regencies" value="{{ regency.id }}">{{ regency.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectDistrict">District</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectDistrict"
                                            name="district"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.district_id"
                                            ng-init="initializeDistrict()">
                                        <option value=""></option>
                                        <option ng-repeat="district in districts" value="{{ district.id }}">{{ district.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputVillage">Village</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputVillage"
                                           name="village"
                                           class="form-control"
                                           placeholder="Village"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.village">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputZip">Zip</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputZip"
                                           name="zip"
                                           class="form-control"
                                           placeholder="Zip"
                                           data-validation="[OPTIONAL]"
                                           data-validation-regex="/^(\s*|\d+)$/"
                                           data-validation-regex-message="Zip must be an integer"
                                           ng-model="data.zip">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputImage">Image</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="file"
                                           id="inputImage"
                                           name="image"
                                           accept="image/jpeg,image/jpg,image/png,image/gif"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputPhone">Phone</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           id="inputPhone"
                                           name="phone"
                                           class="form-control"
                                           data-validation="[NOTEMPTY]"
                                           data-validation-regex="/^\+?\d+$/"
                                           data-validation-regex-message="Phone must be a +623614745677 or 03614745677"
                                           ng-model="data.phone"
                                           ng-intl-tel-input>
                                    <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="staff.phone.$invalid && staff.phone.$touched">Invalid phone number</span>
                                </div>
                            </div>
                            <br /><br />
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"><strong>User already ?</strong></label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="userAlready" uib-btn-radio="false">No</label>
                                        <label class="btn btn-success" ng-model="userAlready" uib-btn-radio="true">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <section ng-if="!userAlready">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="selectRole">Role</label>
                                    </div>
                                    <div class="col-md-10">
                                        <select id="selectRole"
                                                name="role"
                                                class="select2"
                                                data-validation="[NOTEMPTY]"
                                                ng-model="data.user.role.id"
                                                ng-init="initializeRole()">
                                            <option value=""></option>
                                            <option ng-repeat="item in roles" value="{{ item.id }}">{{ item.role }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="inputEmail">Email</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text"
                                               id="inputEmail"
                                               name="email"
                                               class="form-control"
                                               placeholder="Email"
                                               data-validation="[NOTEMPTY, EMAIL]"
                                               ng-model="data.user.email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="inputPassword">Password</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="password"
                                               id="inputPassword"
                                               name="password"
                                               class="form-control"
                                               placeholder="Password"
                                               data-validation="[NOTEMPTY, L>=5]"
                                               ng-model="data.user.password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="inputConfirmPassword">Confirm Password</label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="password"
                                               id="inputConfirmPassword"
                                               name="confirmPassword"
                                               class="form-control"
                                               placeholder="Confrim Password"
                                               data-validation="[V==password]"
                                               ng-model="data.user.password_confirmation">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="inputHandphone">Handphone</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text"
                                               id="inputHandphone"
                                               name="handphone"
                                               class="form-control"
                                               data-validation="[OPTIONAL]"
                                               data-validation-regex="/^\+?\d+$/"
                                               data-validation-regex-message="Handphone must be a +628113808231 or 08113808231"
                                               ng-model="data.user.handphone"
                                               ng-intl-tel-input>
                                        <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="staff.handphone.$invalid && staff.handphone.$touched">Invalid handphone number</span>
                                    </div>
                                </div>
                            </section>
                            <section ng-if="userAlready">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="form-control-label text-uppercase" for="selectUser">User</label>
                                    </div>
                                    <div class="col-md-10">
                                        <select id="selectUser"
                                                name="user"
                                                class="select2"
                                                data-validation="[NOTEMPTY]"
                                                ng-model="data.user_id"
                                                ng-init="initializeUser()">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading"
                                        data-style="expand-right">Create
                                </button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add Staff -->

</div>