<div class="page-content-inner">

    <!-- Edit Staff -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Staff</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="fromStaff" name="staff" method="POST" validate="update(staff)" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputNik">NIK</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputNik"
                                           name="nik"
                                           class="form-control"
                                           placeholder="NIK"
                                           data-validation="[NOTEMPTY, INTEGER]"
                                           ng-model="data.nik">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectTitle">Title</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectTitle"
                                            name="title"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.title"
                                            ng-init="initializeTitle()"
                                            ng-options="title.id as title.name for title in titles">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputFirstName">First Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputFirstName"
                                           name="firstName"
                                           class="form-control"
                                           placeholder="First Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputLastName">Last Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputLastName"
                                           name="lastName"
                                           class="form-control"
                                           placeholder="Last Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Gender</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.gender" uib-btn-radio="'male'">Male</label>
                                        <label class="btn btn-success" ng-model="data.gender" uib-btn-radio="'female'">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="textAreaAddress">Address</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textAreaAddress"
                                              name="address"
                                              class="form-control"
                                              rows="2"
                                              placeholder="Address"
                                              data-validation="[NOTEMPTY]"
                                              ng-model="data.address">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectProvince">Province</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectProvince"
                                            name="province"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.province_id"
                                            ng-change="getRegencyListByProvince(data.province_id)"
                                            ng-init="initializeProvince()"
                                            ng-options="province.id as province.name for province in provinces">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectRegency">Regency</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectRegency"
                                            name="regency"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.regency_id"
                                            ng-change="getDistrictListByRegency(data.regency_id)"
                                            ng-init="initializeRegency()"
                                            ng-options="regency.id as regency.name for regency in regencies">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectDistrict">District</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectDistrict"
                                            name="district"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.district_id"
                                            ng-init="initializeDistrict()"
                                            ng-options="district.id as district.name for district in districts">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputVillage">Village</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputVillage"
                                           name="village"
                                           class="form-control"
                                           placeholder="Village"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.village">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputZip">Zip</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputZip"
                                           name="zip"
                                           class="form-control"
                                           placeholder="Zip"
                                           data-validation="[]"
                                           data-validation-regex="/^(\s*|\d+)$/"
                                           data-validation-regex-message="Zip must be an integer"
                                           ng-model="data.zip">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputImage">Image</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="file"
                                           id="inputImage"
                                           name="image"
                                           accept="image/jpeg,image/jpg,image/png,image/gif"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputPhone">Phone</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           id="inputPhone"
                                           name="phone"
                                           class="form-control"
                                           data-validation="[NOTEMPTY]"
                                           data-validation-regex="/^\+?\d+$/"
                                           data-validation-regex-message="Phone must be a +623614745677 or 03614745677"
                                           ng-model="data.phone"
                                           ng-intl-tel-input>
                                    <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="staff.phone.$invalid && staff.phone.$touched">Invalid phone number</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputUserId"
                                       class="form-control"
                                       ng-model="data.user_id">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <input type="hidden"
                                       id="inputImageUrl"
                                       name="imageUrl"
                                       class="form-control"
                                       ng-model="data.image_url">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Staff -->

</div>