<div class="page-content-inner">

    <!-- Staff -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Staff</h2>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success" ng-click="add()"><i class="fa fa-plus"></i>&nbsp;Add Agent</button>
                            <button type="button" class="btn btn-success" ng-click="reloadData()"><i class="icmn-loop3"></i>&nbsp;Refresh</button>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filterSelectProvince"
                                    name="province"
                                    ng-model="data.province_id"
                                    ng-init="initializeFilterProvince()"
                                    ng-change="refreshTableAndFilterRegencyAndFilterDistrict()">
                                <option value=""></option>
                                <option ng-repeat="province in provinces" value="{{ province.id }}">{{ province.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filterSelectRegency"
                                    name="regency"
                                    ng-model="data.regency_id"
                                    ng-init="initializeFilterRegency()"
                                    ng-change="refreshTableAndFilterDistrict()">
                                <option value=""></option>
                                <option ng-repeat="regency in regencies" value="{{ regency.id }}">{{ regency.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filterSelectDistrict"
                                    name="district"
                                    ng-model="data.district_id"
                                    ng-init="initializeFilterDistrict()"
                                    ng-change="refreshTable()">
                                <option value=""></option>
                                <option ng-repeat="district in districts" value="{{ district.id }}">{{ district.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="margin-bottom-50">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="view-detail" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Staff Detail</h4>
                    </div>
                    <div class="modal-body detail text-center" style="background-color: #1f5d42;">
                        <a class="avatar" href="javascript:void(0);">
                            <img ng-src="{{ staff.image_url }}" />
                        </a>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>NIK :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.nik }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Title :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.title }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>First name :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.first_name }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Last name :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.last_name }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Gender :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label"><span class="label label-success">{{ staff.gender }}</span></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Address :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.address }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Province :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.province }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Regency :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.regency }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>District :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.district }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Village :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.village }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Zip :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.zip }}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label text-uppercase"><strong>Phone :</strong></label>
                            </div>
                            <div class="col-md-9">
                                <label class="form-control-label">{{ staff.phone }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Staff -->

</div>