<div class="page-content-inner">

    <!-- Add District -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Add District</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formDistrict" name="district" method="POST" validate="create()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectRegency">Regency</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectRegency"
                                            name="regency"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.regency_id"
                                            ng-init="initializeRegency()">
                                        <option value=""></option>
                                        <option ng-repeat="regency in regencies" value="{{ regency.id }}">{{ regency.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputName">Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputName"
                                           name="name"
                                           class="form-control"
                                           placeholder="Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.name">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Create</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add District -->

</div>