<div class="page-content-inner">

    <!-- Room Discount -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Room Discount</h2>
                    <br />
                    <div class="row">
                        <div ng-class="(session.role == 'super' || session.role == 'admin') ? 'col-md-4' : 'col-md-6'" style="padding: 10px;">
                            <button type="button" class="btn btn-success" ng-click="add()"><i class="fa fa-plus"></i>&nbsp;Add Room Discount</button>
                            <button type="button" class="btn btn-success" ng-click="reloadData()"><i class="icmn-loop3"></i>&nbsp;Refresh</button>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;" ng-if="session.role == 'super' || session.role == 'admin'">
                            <select id="filter-agent_id"
                                    ng-model="data.agent_id"
                                    ng-init="initializeFilterAgent()"
                                    ng-change="refreshTableAndFilterProductAndFilterRoom()"
                                    ng-if="session.role == 'super' || session.role == 'admin'">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filter-product_id"
                                    ng-model="data.product_id"
                                    ng-init="initializeFilterProduct()"
                                    ng-change="refreshTableAndFilterRoom()">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filter-room_id"
                                    ng-model="data.room_id"
                                    ng-init="initializeFilterRoom()"
                                    ng-change="refreshTable()">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <div class="input-group">
                                <input date-range-picker
                                       id="filter-date_range"
                                       class="form-control date-picker"
                                       type="text"
                                       placeholder="- Filter by Date -"
                                       ng-model="datePicker"
                                       options="datePickerOption"/>
                                <div class="input-group-addon"><i class="icmn icmn-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-bottom-50">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Room Discount -->

</div>