<div class="page-content-inner">

    <!-- Edit Comment -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Comment</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="form-validation" name="form-validation" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span><strong>Title :</strong></span>
                                    <h3>{{ data.title }}</h3>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span><strong>Comment :</strong></span>
                                    <p>{{ data.comment }}</p>
                                    <ng-rate-it ng-model="data.rate" star-width="25" star-height="25" step="1" read-only="true"></ng-rate-it>
                                    <span>{{ data.browser }}</span>, <span>{{ data.ip_address }}</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Status</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.status" uib-btn-radio="1">Approved</label>
                                        <label class="btn btn-success" ng-model="data.status" uib-btn-radio="0">Pendding</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" ng-disabled="loadingSlug" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Comment -->

</div>