<div class="page-content-inner">

    <!-- Edit State -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit State</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formState" name="state" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectCountry">Country</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectCountry"
                                            name="country"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.country_id"
                                            ng-init="initializeCountry()"
                                            ng-options="country.id as country.name for country in countries">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputName">Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputName"
                                           name="name"
                                           class="form-control"
                                           placeholder="Name"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.name">
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit State -->

</div>