//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$timeline-debug:                        false;


$timeline-h-color-bg:                   #f9f9f9;
$timeline-h-color-main:                 #e24d65;

$timeline-h-color-line:                 $timeline-h-color-main;
$timeline-h-color-marker-border:        $timeline-h-color-main;
$timeline-h-color-marker-font:          $timeline-h-color-main;

$timeline-h-color-marker-bg--active:    $timeline-h-color-main;
$timeline-h-color-marker-font--active:  $timeline-h-color-bg;

$timeline-h-color-marker-bg:            $timeline-h-color-bg;
$timeline-h-color-marker-boxShadow:     $timeline-h-color-bg;


$timeline-h-size-step:                  50px;
$timeline-h-size-line:                  2px;
$timeline-h-size-border:                4px;
$timeline-h-size-label:                 110px;
$timeline-h-size-boxShadow:             10px;
$timeline-h-title-distance:             30px;
$timeline-h-title-size-font:            12px;
$timeline-h-label-distance:             10 + ($timeline-h-size-step/2) + $timeline-h-size-boxShadow;


$timeline-h-summary-size-step:          12px;
$timeline-h-summary-size-border:        2px;
$timeline-h-summary-size-line:          2px;
$timeline-h-summary-size-label:         110px;
$timeline-h-summary-size-boxShadow:     3px;
$timeline-h-summary-title-distance:     10px;
$timeline-h-summary-title-size-font:    8px;
$timeline-h-summary-label-distance:     10 + ($timeline-h-summary-size-step/2) + $timeline-h-summary-size-boxShadow;



.timeline {
  margin: 20px 0;
  padding: 0;
  border-top: $timeline-h-size-line solid $timeline-h-color-line;
  list-style: none;
}

.timeline__step {

  float: left;
  width: 33.3%;
  padding-top: 30px;

  position: relative;

  @if ($timeline-debug) {
    background: lightgreen;
    outline: 2px solid red;
  }

  &:first-of-type,
  &:last-of-type {
    &:before {

      content: "";
      width: 50%;
      height: 100%;

      background: #f9f9f9;

      position: absolute;
      top: -$timeline-h-size-line;
      left: 0;

      @if ($timeline-debug) {
        background: green;
        outline: 4px solid orange;
      }
    }
  }

  &:last-of-type:before {
    left: 50%;
  }

  &:hover {
    .timeline__step-label {
      //display: block;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      height: auto;
      padding: 5px 10px;

      font-size: 12px;
      border-width: 1px;

      bottom: 100%;

      &:before,
      &:after {
        display: block;
      }
    }
  }
}

.timeline__step-label {
  //display: none;
  opacity: 0;
  height: 0;
  padding: 0;
  font-size: 0;
  border-width: 0;
  -webkit-transform: rotate(30deg);

  width: $timeline-h-size-label;
  margin: 0 0 $timeline-h-label-distance (-$timeline-h-size-label/2);

  border-style: solid;
  border-color: $timeline-h-color-main;

  background: $timeline-h-color-bg;

  font-weight: normal;
  //cursor: pointer;

  position: absolute;
  left: 50%;
  bottom: 0;

  transition: bottom 0.1s ease-in-out,
  opacity 0.1s ease-in-out,
  -webkit-transform 0.1s ease-in-out;

  &:before,
  &:after {
    display: none;

    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    pointer-events: none;

    position: absolute;
    top: 100%;
    left: 50%;
  }

  &:before {
    border-top-color: $timeline-h-color-main;
    border-width: 8px;
    margin-left: -8px;
  }

  &:after {
    border-top-color: $timeline-h-color-bg;
    border-width: 6px;
    margin-left: -6px;
  }

}

.timeline__step-content {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.timeline__step-title {
  display: block;
  width: 100%;
  padding: $timeline-h-title-distance 0 0;

  font-size: $timeline-h-title-size-font;
  text-align: center;

  position: absolute;
  top: 0;
}

.timeline__step-marker {
  width: $timeline-h-size-step;
  height: $timeline-h-size-step;
  margin-left: -$timeline-h-size-step/2;

  background: $timeline-h-color-marker-bg;
  border: $timeline-h-size-border solid $timeline-h-color-marker-border;
  border-radius: 50%;
  box-shadow: 0 0 0 $timeline-h-size-boxShadow $timeline-h-color-marker-boxShadow;

  text-align: center;
  line-height: $timeline-h-size-step -10;
  color: $timeline-h-color-marker-font;
  font-size: 2em;
  font-style: normal;

  position: absolute;
  top: -($timeline-h-size-step/2)-($timeline-h-size-line/2);
  left: 50%;

  .done & {
    background: $timeline-h-color-marker-bg--active;
    color: $timeline-h-color-marker-font--active;
  }
}

.timeline__step-radio {
  display: none;

  /**
   * not needed for now,
   * because markers won't be clicked in horz version
   */
  // &:checked {
  //   & + label {
  //     opacity: 1;
  //   }

  //   & ~ .timeline__step-marker {
  //     background: $timeline-h-color-marker-bg--active;
  //     color: $timeline-h-color-marker-font--active;
  //   }
  // }
}



.timeline--summary {
  width: 200px;
  border-width: $timeline-h-summary-size-line;

  .timeline__step-label {
    margin-bottom: $timeline-h-summary-label-distance;
  }

  .timeline__step-title {
    padding: $timeline-h-summary-title-distance 0 0;
    font-size: $timeline-h-summary-title-size-font;
    font-weight: bold;
  }

  .timeline__step-marker {
    width: $timeline-h-summary-size-step;
    height: $timeline-h-summary-size-step;
    margin-left: -$timeline-h-summary-size-step/2;

    border-width: $timeline-h-summary-size-border;

    text-indent: -999em;

    box-shadow: 0 0 0 $timeline-h-summary-size-boxShadow #f9f9f9;

    top: -($timeline-h-summary-size-step/2)-($timeline-h-summary-size-line/2);
  }
}



/********************
Select2 Override style
*********************/


/* Assign min-width to container */
.select2-selection {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: #555555;
  font-size: 14px;
  outline: 0;
  min-height: 40px;
  width: 100%;
  text-align: left;
}

.select2-selection__rendered {
  margin: 5px;
}

.select2-selection__arrow {
  margin: 5px;
}