<div class="page-content-inner">

    <!-- Edit Product Type -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Product Type</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formProductType" name="productType" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputType">Type</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputType"
                                           name="type"
                                           class="form-control"
                                           placeholder="Type"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.type">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-description">Description</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="validation-description"
                                              class="form-control"
                                              rows="3"
                                              placeholder="Description"
                                              ng-model="data.description"
                                              name="validation[description]">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="validation-id"
                                       class="form-control"
                                       ng-model="data.id">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Product Type -->

</div>