<div class="page-content-inner">

    <!-- Add Facility -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Add Facility</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formFacility" name="facility" method="POST" validate="create()" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputFacility">Facility</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputFacility"
                                           name="facility"
                                           class="form-control"
                                           placeholder="Facility"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.facility">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputImage">Image</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="file"
                                           id="inputImage"
                                           name="image"
                                           accept="image/jpeg,image/jpg,image/png,image/gif"/>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Create</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add Facility -->

</div>