<div class="page-content-inner">

    <!-- Add Room Allotment -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Add Room Allotment</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="form-validation" name="form-validation" method="POST" validate="create()">
                            <div class="form-group row" ng-if="session.role == 'super' || session.role == 'admin'">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-agent_id">Agent</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="validation-agent_id"
                                            name="validation[agent]"
                                            ng-model="data.agent_id"
                                            data-validation="[NOTEMPTY]"
                                            ng-init="initializeAgent()"
                                            ng-change="refreshProductAndRoom()">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-product_id">Product</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="validation-product_id"
                                            name="validation[product]"
                                            ng-model="data.product_id"
                                            data-validation="[NOTEMPTY]"
                                            ng-init="initializeProduct()"
                                            ng-change="refreshRoom()">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-room_id">Room</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="validation-room_id"
                                            name="validation[room]"
                                            ng-model="data.room_id"
                                            data-validation="[NOTEMPTY]"
                                            ng-init="initializeRoom()">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-range_date">Date</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input date-range-picker
                                               id="validation-range_date"
                                               name="validation[range date]"
                                               data-validation="[NOTEMPTY]"
                                               class="form-control date-picker"
                                               type="text"
                                               placeholder="Date"
                                               ng-model="data.datePicker"
                                               options="data.datePickerOption"/>
                                        <div class="input-group-addon"><i class="icmn icmn-calendar"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <label class="form-control-label">Multiple date ?</label>&nbsp;<input type="checkbox" ng-model="multipleDate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-allotment">Allotment</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="number"
                                               id="validation-allotment"
                                               class="form-control"
                                               placeholder="Allotment"
                                               ng-model="data.allotment"
                                               name="validation[allotment]"
                                               data-validation="[NOTEMPTY, V>0]">
                                        <div class="input-group-addon" ng-if="data.allotment < 2">Room</div>
                                        <div class="input-group-addon" ng-if="data.allotment > 1">Rooms</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-price">Price</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon">Rp</div>
                                        <input type="number"
                                               id="validation-price"
                                               class="form-control"
                                               placeholder="Price"
                                               ng-model="data.price"
                                               name="validation[price]"
                                               data-validation="[]"
                                               min="0">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Status</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.status" uib-btn-radio="1">Enable</label>
                                        <label class="btn btn-success" ng-model="data.status" uib-btn-radio="0">Disable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       ng-model="data.agent_id"
                                       ng-if="session.role != 'super' || session.role != 'admin'">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Create</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add Room Allotment -->

</div>