<div class="page-content-inner">

    <!-- Comment -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Comment</h2>
                    <br />
                    <div class="row">
                        <div class="col-md-10" style="padding: 10px;">
                            <button type="button" class="btn btn-success" ng-click="reloadData()"><i class="icmn-loop3"></i>&nbsp;Refresh</button>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filterSelectAgent"
                                    ng-model="data.agent_id"
                                    ng-init="initializeFilterAgent()"
                                    ng-change="refreshTable()"
                                    ng-if="session.role == 'super' || session.role == 'admin'">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="margin-bottom-50">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Comment -->

</div>