<div class="page-content-inner">

    <!-- Add Product -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <form id="form-validation" name="form-validation" method="POST" validate="create()">
                    <div class="col-lg-10">
                        <h2>Add Product</h2>
                        <br />
                        <div class="margin-bottom-50">
                            <div class="form-group row" ng-if="session.role == 'super' || session.role == 'admin'">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-agent_id">Agent</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="validation-agent_id"
                                            name="validation[agent]"
                                            ng-model="data.agent_id"
                                            data-validation="[NOTEMPTY]"
                                            ng-init="initializeAgent()">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row" style="height: 30px;">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-title">Title</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="validation-title"
                                           class="form-control"
                                           placeholder="Title"
                                           ng-model="data.title"
                                           ng-blur="getSlug(data.title)"
                                           name="validation[title]"
                                           data-validation="[NOTEMPTY]">
                                </div>
                            </div>
                            <span><strong>Slug:&nbsp;</strong><i>{{ data.slug }}</i><i ng-if="loadingSlug" class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span><br/><br/>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <textarea ui-tinymce="tinymceFullOptions" ng-if="tinyMceFull" ng-model="data.description"></textarea>
                                </div>
                            </div>
                            <br />
                            <div class="nav-tabs-horizontal">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#general" role="tab">
                                            <i class="icmn-menu3"></i>
                                            General
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#image-gallery" role="tab">
                                            <i class="icmn-images2"></i>
                                            Image Gallery
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#video-gallery" role="tab">
                                            <i class="icmn-video-camera3"></i>
                                            Video Gallery
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#product-include" role="tab">
                                            <i class="icmn-folder"></i>
                                            Product Include
                                        </a>
                                    </li>
                                    <li class="nav-item" ng-if="data.product_type_id == 1">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#product-itinerary" role="tab">
                                            <i class="icmn-pushpin"></i>
                                            Product Itinerary
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content padding-vertical-20">
                                    <div class="tab-pane active" id="general" role="tabpanel">
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-overview">Overview</label>
                                            </div>
                                            <div class="col-md-10">
                                                <textarea id="validation-overview"
                                                          class="form-control"
                                                          rows="3"
                                                          placeholder="Overview"
                                                          ng-model="data.overview"
                                                          ng-trim="false"
                                                          maxlength="500"
                                                          name="validation[overview]"
                                                          data-validation="[]">
                                                </textarea>
                                                <i class="fa fa-text-width"></i>&nbsp;{{ 500 - data.overview.length }}&nbsp;
                                                <span ng-if="!data.overview.length || data.overview.length <= 498"><strong>characters left</strong></span>
                                                <span ng-if="data.overview.length >= 499"><strong>character left</strong></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-address">Address</label>
                                            </div>
                                            <div class="col-md-10">
                                                <textarea id="validation-address"
                                                          class="form-control"
                                                          rows="3"
                                                          placeholder="Address"
                                                          ng-model="data.address"
                                                          name="validation[address]"
                                                          data-validation="[]">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-if="data.product_type_id == 1">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-price">Price</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Rp</div>
                                                    <input type="number"
                                                           id="validation-price"
                                                           class="form-control"
                                                           placeholder="Price"
                                                           ng-model="data.price"
                                                           name="validation[price]"
                                                           data-validation="[]"
                                                           min="0">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-discount">Discount</label>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="input-group">
                                                    <input type="number"
                                                           id="validation-discount"
                                                           class="form-control"
                                                           placeholder="Discount"
                                                           ng-model="data.discount"
                                                           name="validation[discount]"
                                                           data-validation="[]"
                                                           min="0"
                                                           max="100">
                                                    <div class="input-group-addon">%</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-if="data.product_type_id == 1">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-duration">Duration</label>
                                            </div>
                                            <div class="col-md-2">
                                                <h-number value="data.duration"
                                                          min="1"
                                                          step="1"
                                                          singular="Hour"
                                                          plural="Hours"
                                                          unit-position="right">
                                                    <input id="validation-duration"
                                                           type="text"
                                                           name="validation[duration]"
                                                           data-validation="[V>0]"
                                                           ng-model="data.duration"
                                                           style="border: none;"
                                                           readonly
                                                           pu-elastic-input>
                                                </h-number>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="fa fa-clock-o"></i>&nbsp;<label class="form-control-label" ng-bind-html="data.duration_convert"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-if="data.product_type_id == 1">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                        for="validation-age_range">Age Range</label>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="form-control-label">All age ?</label>&nbsp;<input type="checkbox" ng-model="age.all">
                                            </div>
                                            <div class="col-md-6" ng-if="!age.all">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h-number value="data.min_age"
                                                                  min="1"
                                                                  max="70"
                                                                  step="1"
                                                                  singular="Year Old"
                                                                  plural="Year Old"
                                                                  unit-position="right">
                                                            <input id="validation-min_age"
                                                                   type="text"
                                                                   name="validation[min]"
                                                                   data-validation="[OPTIONAL, V<validation[max], V=0]"
                                                                   data-validation-message="Min age must be less than max age"
                                                                   ng-model="data.min_age"
                                                                   style="border: none;"
                                                                   readonly
                                                                   pu-elastic-input>
                                                        </h-number>
                                                    </div>
                                                    <div class="col-md-1" style="text-align: center;">
                                                        <label class="form-control-label">To</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h-number value="data.max_age"
                                                                  min="1"
                                                                  max="70"
                                                                  step="1"
                                                                  singular="Year Old"
                                                                  plural="Year Old"
                                                                  unit-position="right">
                                                            <input id="validation-max_age"
                                                                   type="text"
                                                                   name="validation[max]"
                                                                   data-validation="[OPTIONAL, V>validation[min], V=0]"
                                                                   data-validation-message="Max age must be less than min age"
                                                                   ng-model="data.max_age"
                                                                   style="border: none;"
                                                                   readonly
                                                                   pu-elastic-input>
                                                        </h-number>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-facility">Facility</label>
                                            </div>
                                            <div class="col-md-10">
                                                <ui-select multiple
                                                           ng-model="data.product_facility"
                                                           theme="bootstrap"
                                                           title="Choose a product facility"
                                                           spinner-enabled="true"
                                                           spinner-class="glyphicon-refresh ui-select-spin">
                                                    <ui-select-match placeholder="- Please Choose -">{{ $item.facility }}</ui-select-match>
                                                    <ui-select-choices refresh="refreshProductFacility($select.search)"
                                                                       refresh-delay="0"
                                                                       minimum-input-length="3"
                                                                       repeat="productFacility.id as productFacility in productFacilities | propsFilter: { facility: $select.search }">
                                                        <img ng-src="{{ productFacility.image_url }}" width="20" style="float: left; margin-right: 10px;" />
                                                        <label ng-bind-html="productFacility.facility | highlight: $select.search"></label>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-if="data.product_type_id == 2">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-grade">Grade</label>
                                            </div>
                                            <div class="col-md-10">
                                                <ng-rate-it ng-model="data.grade" star-width="25" star-height="25" step="1" resetable="false"></ng-rate-it>
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-if="data.product_type_id == 2">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-property_type">Property Type</label>
                                            </div>
                                            <div class="col-md-10">
                                                <select id="validation-property_type"
                                                        class="select2"
                                                        name="validation[property_type]"
                                                        ng-model="data.property_type_id"
                                                        data-validation="[NOTEMPTY]"
                                                        ng-init="initializePropertyType()">
                                                    <option value=""></option>
                                                    <option ng-repeat="propertyType in propertyTypes" value="{{ propertyType.id }}">{{ propertyType.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row" ng-if="data.product_type_id == 1">
                                            <div class="col-md-2">
                                                <label class="form-control-label text-uppercase"
                                                       for="validation-way_point">Way Point</label>
                                            </div>
                                            <div class="col-md-10">
                                                <fieldset  data-ng-repeat="wayPoint in wayPoints">
                                                    <div class="form-group row">
                                                        <div class="col-md-2">
                                                            <div class="form-input-icon">
                                                                <i ng-show="$first" class="icmn icmn-location3"></i>
                                                                <i ng-show="$last" class="icmn icmn-flag3"></i>
                                                                <input type="text"
                                                                       id="validation-way_point_title_{{ $index }}"
                                                                       name="validation[way point title {{ $index + 1 }}]"
                                                                       data-validation="[NOTEMPTY]"
                                                                       class="form-control"
                                                                       placeholder="Title"
                                                                       ng-model="wayPoint.title">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text"
                                                                   id="validation-way_point_address_{{ $index }}"
                                                                   name="validation[way point address {{ $index + 1 }}]"
                                                                   data-validation="[]"
                                                                   class="form-control"
                                                                   placeholder="Address"
                                                                   ng-model="wayPoint.address">
                                                        </div>
                                                        <div class="col-md-1">
                                                            <input type="text"
                                                                   id="validation-way_point_lat_{{ $index }}"
                                                                   name="validation[way point lat {{ $index + 1 }}]"
                                                                   data-validation="[]"
                                                                   class="form-control"
                                                                   placeholder="Lat"
                                                                   ng-model="wayPoint.lat"
                                                                   readonly>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <input type="text"
                                                                   id="validation-way_point_lon_{{ $index }}"
                                                                   name="validation[way point lon {{ $index + 1 }}]"
                                                                   data-validation="[]"
                                                                   class="form-control"
                                                                   placeholder="lng"
                                                                   ng-model="wayPoint.lng"
                                                                   readonly>
                                                        </div>
                                                        <div class="col-md-1" style="text-align: center;">
                                                            <h-number value="wayPoint.order"
                                                                      min="1"
                                                                      step="1">
                                                                <input type="text"
                                                                       id="validation-way_point_order"
                                                                       name="validation[way point order {{ $index + 1 }}]"
                                                                       data-validation="[]"
                                                                       ng-model="wayPoint.order"
                                                                       style="border: none;"
                                                                       readonly
                                                                       pu-elastic-input>
                                                            </h-number>
                                                        </div>
                                                        <div class="col-md-offset-1 col-md-2">
                                                            <button type="button" class="btn btn-danger" ng-click="removeWayPoint($index)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-success" ng-click="openWayPoint($index)">
                                                                <i class="icms icmn-target3" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <button type="button" class="btn btn-primary" ng-click="addWayPoint()">
                                                    <i class="icms icmn-plus2" aria-hidden="true"></i>&nbsp;Add Way Point
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="image-gallery" role="tabpanel">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <ul class="list-unstyled container-fluid">
                                                    <div class="thumbnail col-md-2" ng-repeat="image in images" style="text-align: center; vertical-align: middle;">
                                                        <thumbnail file-type="image" source="{{ image.url }}" max-height="175" max-width="175"></thumbnail>
                                                        <br /><br />
                                                        <div class="caption text-center">
                                                            <p>
                                                                <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#view-detail-image" ng-click="detailImage($index)">
                                                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                                                </button>
                                                                <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="removeImage($index)">
                                                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                                                </button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="thumbnail col-md-2">
                                                        <a id="set-image"
                                                           href="/filemanager/dialog.php?type=1&field_id=validation-image&akey={{ fileManager.akey }}"
                                                           class="iframe"
                                                           ng-init="setImage()">
                                                            <p>
                                                                <i class="fa fa-plus-circle" style="font-size: 50px;"></i>
                                                            </p>
                                                        </a>
                                                    </div>
                                                </ul>
                                                <input type="text"
                                                       id="validation-image"
                                                       name="validation[image]"
                                                       ng-model="_images"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="video-gallery" role="tabpanel">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <ul class="list-unstyled container-fluid">
                                                    <div class="thumbnail col-md-2" ng-repeat="video in videos" style="text-align: center; vertical-align: middle;">
                                                        <iframe style="width: 175px; height: 175px;" frameborder="0" src="{{ video.url | trustAsResourceUrl }}" ng-show="isVideoGalleryExternal(video.url)" allowfullscreen></iframe>
                                                        <video src="{{ video.url }}" style="width: 175px; height: 175px;" controls="controls" ng-show="!isVideoGalleryExternal(video.url)"></video>
                                                        <br /><br />
                                                        <div class="caption text-center">
                                                            <p>
                                                                <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#view-detail-video" ng-click="detailVideo($index)">
                                                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                                                </button>
                                                                <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="removeVideo($index)">
                                                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                                                </button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="thumbnail col-md-2">
                                                        <a id="set-video"
                                                           href="/filemanager/dialog.php?type=3&field_id=validation-video&akey={{ fileManager.akey }}"
                                                           class="iframe"
                                                           ng-init="setVideo()"
                                                           ng-show="!video_gallery.external">
                                                            <p>
                                                                <i class="fa fa-plus-circle" style="font-size: 50px;"></i>
                                                            </p>
                                                        </a>
                                                        <a id="set-video-external"
                                                           href="javascript: void(0)"
                                                           ng-show="video_gallery.external"
                                                           data-toggle="modal"
                                                           data-target="#view-video-gallery-external">
                                                            <p>
                                                                <i class="fa fa-plus-circle" style="font-size: 50px;"></i>
                                                            </p>
                                                        </a>
                                                    </div>
                                                </ul>
                                                <input type="text"
                                                       id="validation-video"
                                                       name="validation[video]"
                                                       ng-model="_videos"/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <input type="checkbox" ng-model="video_gallery.external"><i>&nbsp;<b>Click here</b> if you want to use the external link as your featured video (youtube, vimeo etc)</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="product-include" role="tabpanel">
                                        <fieldset  data-ng-repeat="include in includes">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="form-control-label text-uppercase"
                                                           for="validation-product_include_title">Title</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text"
                                                           id="validation-product_include_title_{{ $index }}"
                                                           name="validation[product include title {{ $index + 1 }}]"
                                                           data-validation="[NOTEMPTY]"
                                                           class="form-control"
                                                           placeholder="Title"
                                                           ng-model="include.title">
                                                </div>
                                                <div class="col-md-offset-4 col-md-1">
                                                    <button type="button" class="btn btn-danger" ng-click="removeInclude($index)">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="form-control-label text-uppercase"
                                                           for="validation-product_include_sub_title">Sub Title</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text"
                                                           id="validation-product_include_sub_title_{{ $index }}"
                                                           name="validation[product include sub title {{ $index + 1 }}]"
                                                           data-validation="[]"
                                                           class="form-control"
                                                           placeholder="Sub Title"
                                                           ng-model="include.sub_title">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="form-control-label text-uppercase"
                                                           for="validation-product_include_order">Order</label>
                                                </div>
                                                <div class="col-md-1" style="text-align: center;">
                                                    <h-number value="include.order"
                                                              min="1"
                                                              step="1">
                                                        <input type="text"
                                                               id="validation-product_include_order"
                                                               name="validation[product include order {{ $index + 1 }}]"
                                                               data-validation="[]"
                                                               ng-model="include.order"
                                                               style="border: none;"
                                                               readonly
                                                               pu-elastic-input>
                                                    </h-number>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="form-control-label text-uppercase"
                                                           for="validation-product_include_description">Description</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <textarea ui-tinymce="tinymceBasicOptions" ng-model="include.description"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button type="button" class="btn btn-primary" ng-click="addInclude()">
                                            <i class="icms icmn-plus2" aria-hidden="true"></i>&nbsp;Add Include
                                        </button>
                                    </div>
                                    <div class="tab-pane" id="product-itinerary" role="tabpanel" ng-if="data.product_type_id == 1">
                                        <fieldset  data-ng-repeat="itinerary in itineraries">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="form-control-label text-uppercase">Title</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text"
                                                           id="validation-product_itinerary_title_{{ $index }}"
                                                           name="validation[product itinerary title {{ $index + 1 }}]"
                                                           data-validation="[NOTEMPTY]"
                                                           class="form-control"
                                                           placeholder="Title"
                                                           ng-model="itinerary.title">
                                                </div>
                                                <div class="col-md-offset-4 col-md-1">
                                                    <button type="button" class="btn btn-danger" ng-click="removeItinerary($index)">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="form-control-label text-uppercase"
                                                           for="validation-product_itinerary_sub_title">Sub Title</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text"
                                                           id="validation-product_itinerary_sub_title_{{ $index }}"
                                                           name="validation[product itinerary sub title {{ $index + 1 }}]"
                                                           data-validation="[]"
                                                           class="form-control"
                                                           placeholder="Sub Title"
                                                           ng-model="itinerary.sub_title">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="form-control-label text-uppercase">Order</label>
                                                </div>
                                                <div class="col-md-1" style="text-align: center;">
                                                    <h-number value="itinerary.order"
                                                              min="1"
                                                              step="1">
                                                        <input type="text"
                                                               id="validation-product_itineary_order"
                                                               name="validation[product itinerary order {{ $index + 1 }}]"
                                                               data-validation="[]"
                                                               ng-model="itinerary.order"
                                                               style="border: none;"
                                                               readonly
                                                               pu-elastic-input>
                                                    </h-number>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="form-control-label text-uppercase"
                                                           for="validation-product_itinerary_description">Description</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <textarea ui-tinymce="tinymceBasicOptions" ng-model="itinerary.description"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button type="button" class="btn btn-primary" ng-click="addItinerary()">
                                            <i class="icms icmn-plus2" aria-hidden="true"></i>&nbsp;Add Itinerary
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       ng-model="data.agent_id"
                                       ng-if="session.role != 'super' || session.role != 'admin'">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Create</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="margin-bottom-50">
                            <div class="row blog">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="validation-title" style="white-space: nowrap;"><i class="fa fa-power-off"></i>&nbsp;Status</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="dropdown margin-inline">
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                {{ data.status | blogStatus }}
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="" role="menu">
                                                <a class="dropdown-item" href="javascript: void(0)" ng-click="data.status = 0">Draft</a>
                                                <a class="dropdown-item" href="javascript: void(0)" ng-click="data.status = 1">Publish</a>
                                                <a class="dropdown-item" href="javascript: void(0)" ng-click="data.status = 2">Pendding</a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="validation-publish" style="white-space: nowrap;"><i class="fa fa-calendar"></i>&nbsp;Publish</label>
                                    </div>
                                    <div class="col-md-8">
                                        <label class="form-control-label" style="white-space: nowrap;">{{ data.publish | date:'yyyy-MM-dd HH:mm a' }}</label>
                                    </div>
                                </div>
                            </div>
                            <br/><br/>
                            <h4>Types</h4>
                            <div class="product-type">
                                <ul>
                                    <li ng-repeat="productType in productTypes">
                                        <label>
                                            <input type="radio" ng-model="data.product_type_id" name="validation[type]" ng-value="{{ productType.id }}" />&nbsp;&nbsp;{{ productType.type }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <br/><br/>
                            <h4>Categories</h4>
                            <div class="form-group">
                                <select id="validation-product_category"
                                        class="select2"
                                        name="validation[product category]"
                                        ng-model="data.product_category_id"
                                        data-validation="[]"
                                        ng-init="initializeProductCategory()">
                                    <option value=""></option>
                                    <option ng-repeat="productCategory in productCategories" value="{{ productCategory.id }}">{{ productCategory.category }}</option>
                                </select>
                            </div>
                            <br/><br/>
                            <h4>Tags</h4>
                            <div class="form-group">
                                <ui-select multiple
                                           ng-model="data.product_tag"
                                           theme="bootstrap"
                                           title="Choose a product tag"
                                           spinner-enabled="true"
                                           spinner-class="glyphicon-refresh ui-select-spin">
                                    <ui-select-match placeholder="- Please Choose -">{{ $item.name }}</ui-select-match>
                                    <ui-select-choices refresh="refreshProductTag($select.search)"
                                                       refresh-delay="0"
                                                       minimum-input-length="3"
                                                       repeat="productTag.id as productTag in productTags | propsFilter: { name: $select.search }">
                                        <div ng-bind-html="productTag.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <br />
                                <i>You could add a new tag trough by use the link below</i><br /><br />
                                <a href="javascript: void(0)" ng-click="openProductTag()"><i class="fa fa-plus-square"></i>&nbsp;Add New Tag</a>
                            </div>
                            <br/><br />
                            <h4>Location</h4>
                            <div class="form-group">
                                <input places-auto-complete types="geocode" class="form-control" on-place-changed="placeMarker()" />
                                <ng-map id="locationMap" ng-if="renderlocation" center="[{{ data.lat }}, {{ data.lng }}]" zoom-control="true" zoom="8" on-click="getPositionLocation($event)">
                                    <marker position="[{{ data.lat }}, {{ data.lng }}]"
                                            title="Position of Location"
                                            on-dragend="getPositionLocation($event)"
                                            animation="DROP"
                                            draggable="true"></marker>
                                </ng-map>
                                <input type="hidden"
                                       id="validation-lat"
                                       class="form-control"
                                       ng-model="data.lat">
                                <input type="hidden"
                                       id="validation-lng"
                                       class="form-control"
                                       ng-model="data.lng">
                            </div>
                            <br/><br/>

                            <!--FEATURED IMAGE-->
                            <h4>Featured Image</h4>
                            <img id="image-featured_image" style="width: 100%;" />
                            <hr />
                            <a id="remove-featured_image"
                               href="javascript: void(0)"
                               ng-click="removeFeaturedImage()">
                                <i class="fa fa-minus-square"></i>&nbsp;Remove Featured Image
                            </a>
                            <a id="set-featured_image"
                               href="/filemanager/dialog.php?type=1&field_id=validation-featured_image&akey={{ fileManager.akey }}"
                               class="iframe"
                               ng-init="setFeaturedImage()">
                                <i class="fa fa-plus-square"></i>&nbsp;Set Featured Image
                            </a>
                            <input type="text"
                                   id="validation-featured_image"
                                   name="validation[featured_image]"
                                   ng-model="data.featured_image_url" />
                            <br/><br/>

                            <!--FEATURED VIDEO-->
                            <h4>Featured Video</h4>
                            <iframe id="control-featured_video_external" style="width: 100%; height: 200px;" frameborder="0" allowfullscreen></iframe>
                            <video id="control-featured_video" style="width: 100%; height: 200px;" controls="controls"></video>
                            <hr />
                            <a id="remove-featured_video"
                               href="javascript: void(0)"
                               ng-click="removeFeaturedVideo()">
                                <i class="fa fa-minus-square"></i>&nbsp;Remove Featured Video
                            </a>
                            <a id="set-featured_video"
                               href="/filemanager/dialog.php?type=3&field_id=validation-featured_video&akey={{ fileManager.akey }}"
                               class="iframe"
                               ng-init="setFeaturedVideo()"
                               ng-show="!video.external">
                                <i class="fa fa-plus-square"></i>&nbsp;Set Featured Video
                            </a>
                            <a id="set-featured_video_external"
                               ng-show="video.external"
                               href="javascript: void(0)"
                               data-toggle="modal"
                               data-target="#view-featured-video-external">
                                <i class="fa fa-plus-square"></i>&nbsp;Set Featured Video
                            </a>
                            <input type="text"
                                   id="validation-featured_video"
                                   name="validation[featured_video]"
                                   ng-model="data.featured_video_url" />
                            <br />
                            <input type="checkbox" ng-model="video.external"><i>&nbsp;<b>Click here</b> if you want to use the external link as your featured video (youtube, vimeo etc)</i>
                            <br/><br/>

                            <!--INCLUDE BROCHURE-->
                            <h4>Include Brochure</h4>
                            <p id="label-include_brochure"><i class="icmn icmn-file-text3"></i>&nbsp;{{ data.include_brochure_url | fileName }}</p>
                            <hr />
                            <a id="remove-include_brochure"
                               href="javascript: void(0)"
                               ng-click="removeIncludeBrochure()">
                                <i class="fa fa-minus-square"></i>&nbsp;Remove Include Brochure
                            </a>
                            <a id="set-include_brochure"
                               href="/filemanager/dialog.php?type=2&field_id=validation-include_brochure&akey={{ fileManager.akey }}"
                               class="iframe"
                               ng-init="setIncludeBrochure()">
                                <i class="fa fa-plus-square"></i>&nbsp;Set Include Brochure
                            </a>
                            <input type="text"
                                   id="validation-include_brochure"
                                   name="validation[include_brochure]"
                                   ng-model="data.include_brochure_url" />

                            <!--ITINERARY BROCHURE-->
                            <section ng-if="data.product_type_id == 1">
                                <br />
                                <h4>Intinerary Brochure</h4>
                                <p id="label-itinerary_brochure"><i class="icmn icmn-file-text3"></i>&nbsp;{{ data.itinerary_brochure_url | fileName }}</p>
                                <hr />
                                <a id="remove-itinerary_brochure"
                                   href="javascript: void(0)"
                                   ng-click="removeItineraryBrochure()">
                                    <i class="fa fa-minus-square"></i>&nbsp;Remove Itinerary Brochure
                                </a>
                                <a id="set-itinerary_brochure"
                                   href="/filemanager/dialog.php?type=2&field_id=validation-itinerary_brochure&akey={{ fileManager.akey }}"
                                   class="iframe"
                                   ng-init="setItineraryBrochure()">
                                    <i class="fa fa-plus-square"></i>&nbsp;Set Itinerary Brochure
                                </a>
                                <input type="text"
                                       id="validation-itinerary_brochure"
                                       name="validation[itinerary_brochure]"
                                       ng-model="data.itinerary_brochure_url" />
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade modal-size-large" id="view-detail-image" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Image Detail</h4>
                    </div>
                    <div class="modal-body detail">
                        <div class="row">
                            <div class="col-md-8" style="text-align: center;">
                                <img src="{{ images[indexImage].url }}" height="350" />
                            </div>
                            <div class="col-md-4">
                                <h4>Image Information</h4>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text"
                                               id="detail-image_title"
                                               class="form-control"
                                               placeholder="Title"
                                               ng-model="images[indexImage].title"
                                               name="validation[title]"
                                               data-validation="[NOTEMPTY]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text"
                                               id="detail-image_caption"
                                               class="form-control"
                                               placeholder="Caption"
                                               ng-model="images[indexImage].caption"
                                               name="validation[caption]"
                                               data-validation="[]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text"
                                               id="detail-image_alt"
                                               class="form-control"
                                               placeholder="Alt"
                                               ng-model="images[indexImage].alt"
                                               name="validation[alt]"
                                               data-validation="[]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <textarea id="detail-image_description"
                                                  class="form-control"
                                                  rows="5"
                                                  placeholder="Description"
                                                  ng-model="images[indexImage].description"
                                                  name="validation[description]">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-size-large" id="view-detail-video" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Video Detail</h4>
                    </div>
                    <div class="modal-body detail">
                        <div class="row">
                            <div class="col-md-8">
                                <video src="{{ videos[indexVideo].url }}" style="width: 100%; height: 350px;" controls="controls"></video>
                            </div>
                            <div class="col-md-4">
                                <h4>Video Information</h4>
                                <hr />
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="text"
                                               id="detail-video_title"
                                               class="form-control"
                                               placeholder="Title"
                                               ng-model="videos[indexVideo].title"
                                               name="validation[title]"
                                               data-validation="[NOTEMPTY]">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <textarea id="detail-video_description"
                                                  class="form-control"
                                                  rows="5"
                                                  placeholder="Description"
                                                  ng-model="videos[indexVideo].description"
                                                  name="validation[description]">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-size-medium" id="view-featured-video-external" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="form-validation-featured-video-external" name="form-validation" method="POST" validate="insertFeaturedVideoExternal(featuredVideoExternal.prefix + featuredVideoExternal.code)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Featured Video External</h4>
                        </div>
                        <div class="modal-body detail">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label class="form-control-label text-uppercase" for="validation-featured_video_prefix">Prefix</label>
                                        </div>
                                        <div class="col-md-10">
                                            <select id="validation-featured_video_prefix"
                                                    class="select2"
                                                    name="validation[prefix]"
                                                    ng-model="featuredVideoExternal.prefix"
                                                    data-validation="[NOTEMPTY]"
                                                    ng-init="initializePrefix()">
                                                <option value=""></option>
                                                <option ng-repeat="videoChannel in videoChannels" value="{{ videoChannel.prefix }}">{{ videoChannel.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label class="form-control-label text-uppercase" for="validation-featured_video_code">Code</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text"
                                                   id="validation-featured_video_code"
                                                   class="form-control"
                                                   placeholder="Code"
                                                   ng-model="featuredVideoExternal.code"
                                                   ng-disabled="featuredVideoExternal.prefix == null"
                                                   name="validation[code]"
                                                   data-validation="[NOTEMPTY]">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label class="form-control-label text-uppercase" for="validation-featured_video_url">URL</label>
                                        </div>
                                        <div class="col-md-10">
                                            <label class="form-control-label"><i>{{ featuredVideoExternal.prefix }}<strong>{{ featuredVideoExternal.code }}</strong></i></label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">INSERT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade modal-size-medium" id="view-video-gallery-external" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="form-validation-video-gallery-external" name="form-validation" method="POST" validate="insertVideoGalleryExternal(videoGalleryExternal.prefix + videoGalleryExternal.code)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Featured Video External</h4>
                        </div>
                        <div class="modal-body detail">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label class="form-control-label text-uppercase" for="validation-video_gallery_prefix">Prefix</label>
                                        </div>
                                        <div class="col-md-10">
                                            <select id="validation-video_gallery_prefix"
                                                    class="select2"
                                                    name="validation[video_gallery_prefix]"
                                                    ng-model="videoGalleryExternal.prefix"
                                                    data-validation="[NOTEMPTY]"
                                                    ng-init="initializePrefix()">
                                                <option value=""></option>
                                                <option ng-repeat="videoChannel in videoChannels" value="{{ videoChannel.prefix }}">{{ videoChannel.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label class="form-control-label text-uppercase" for="validation-video_gallery_code">Code</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text"
                                                   id="validation-video_gallery_code"
                                                   class="form-control"
                                                   placeholder="Code"
                                                   ng-model="videoGalleryExternal.code"
                                                   ng-disabled="videoGalleryExternal.prefix == null"
                                                   name="validation[video_gallery_code]"
                                                   data-validation="[NOTEMPTY]">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label class="form-control-label text-uppercase" for="validation-video_gallery_url">URL</label>
                                        </div>
                                        <div class="col-md-10">
                                            <label class="form-control-label"><i>{{ videoGalleryExternal.prefix }}<strong>{{ videoGalleryExternal.code }}</strong></i></label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">INSERT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add Product -->

</div>

<!-- Template Scripts -->
<script type="text/ng-template" id="wayPoint.html">
    <input id="searchAddressPop" type="text" class="form-control" ng-autocomplete ng-model="autocomplete" options="autoCompleteOptions" details="autoCompleteDetails" />
    <ng-map id="wayPointMap" ng-if="renderWayPoint" center="[{{ wayPoints[indexWayPoint].lat }}, {{ wayPoints[indexWayPoint].lng }}]" zoom-control="true" zoom="8" on-click="getPositionWayPoint($event)">
        <marker position="[{{ wayPoints[indexWayPoint].lat }}, {{ wayPoints[indexWayPoint].lng }}]"
                title="Position of Way Point"
                on-dragend="getPositionWayPoint($event)"
                animation="Animation.BOUNCE"
                animation="DROP"
                draggable="true"></marker>
    </ng-map>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeWayPoint()">Close Way Point</button>
    </div>
</script>
<script type="text/ng-template" id="productTag.html">
    <div class="modal-content" tabindex="-1">
        <form id="form-validation-tag" name="form-tag" method="POST" validate="create()">
            <div class="modal-header">
                <h4 class="modal-title">Add Product Tag</h4>
            </div>
            <div class="modal-body detail">
                <div class="form-group row" ng-if="session.role == 'super' || session.role == 'admin'">
                    <div class="col-md-2">
                        <label class="form-control-label text-uppercase"
                               for="validation-tag-agent_id">Agent</label>
                    </div>
                    <div class="col-md-10">
                        <select id="validation-tag-agent_id"
                                name="validation[agent]"
                                ng-model="data.agent_id"
                                data-validation="[NOTEMPTY]"
                                ng-init="initializeAgent()">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="form-control-label text-uppercase" for="validation-tag-name">Name</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text"
                               id="validation-tag-name"
                               class="form-control"
                               placeholder="Name"
                               ng-model="data.name"
                               ng-blur="getSlug(data.name)"
                               name="validation[name]"
                               data-validation="[NOTEMPTY]">
                    </div>
                </div>
                <span><strong>Slug:&nbsp;</strong><i>{{ data.slug }}</i><i ng-if="loadingSlug" class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
            </div>
            <div class="modal-footer">
                <input type="hidden"
                       ng-model="data.agent_id"
                       ng-if="session.role != 'super' || session.role != 'admin'">
                <button type="submit" class="btn btn-primary width-150" ng-disabled="loadingSlug" ladda="loading" data-style="expand-right">Create</button>
                <button type="button" class="btn btn-default" ng-click="closeProductTag()">Cancel</button>
            </div>
        </form>
    </div>
</script>
<!-- End Template Scripts-->

<!-- Page Scripts -->
<script>
    $(function () {
        $('#validation-featured_image').css("visibility", "hidden");
        $('#validation-featured_video').css("visibility", "hidden");
        $('#validation-include_brochure').css("visibility", "hidden");
        $('#validation-itinerary_brochure').css("visibility", "hidden");
        $('#validation-image').css("visibility", "hidden");
        $('#validation-video').css("visibility", "hidden");

        $('#validation-featured_image').observe_field(1, function() {
            $('#validation-featured_image').trigger('input');

            if (this.value != '') {
                $('#image-featured_image').show();
                $('#image-featured_image').attr('src', this.value);

                $('#remove-featured_image').show();
                $('#set-featured_image').hide();
            }
        });

        $('#validation-featured_video').observe_field(1, function() {
            $('#validation-featured_video').trigger('input');

            if (this.value != '') {
                if (this.value.indexOf('youtube') > 0 || this.value.indexOf('vimeo') > 0) {
                    $('#control-featured_video_external').show();
                    $('#control-featured_video_external').attr('src', this.value);

                } else {
                    $('#control-featured_video').show();
                    $('#control-featured_video').attr('src', this.value);

                }

                $('#remove-featured_video').show();
                $('#set-featured_video').hide();
                $('#set-featured_video_external').hide();
            }
        });

        $('#validation-include_brochure').observe_field(1, function() {
            $('#validation-include_brochure').trigger('input');

            if (this.value != '') {
                $('#label-include_brochure').show();
                $('#remove-include_brochure').show();
                $('#set-include_brochure').hide();
            }
        });

        $('#validation-itinerary_brochure').observe_field(1, function() {
            $('#validation-itinerary_brochure').trigger('input');

            if (this.value != '') {
                $('#label-itinerary_brochure').show();
                $('#remove-itinerary_brochure').show();
                $('#set-itinerary_brochure').hide();
            }
        });

        $('#validation-image').observe_field(1, function() {
            $('#validation-image').trigger('input');
        });

        $('#validation-video').observe_field(1, function() {
            $('#validation-video').trigger('input');
        });

    })

    function responsive_filemanager_callback() {
        parent.$.fancyboxPlus.close();
    }
</script>
<!-- End Page Scripts-->