<div class="page-content-inner">

    <!-- Product -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Product</h2>
                    <br />
                    <div class="row">
                        <div ng-class="(session.role == 'super' || session.role == 'admin') ? 'col-md-6' : 'col-md-8'" style="padding: 10px;">
                            <button type="button" class="btn btn-success" ng-click="add()"><i class="fa fa-plus"></i>&nbsp;Add Product</button>
                            <button type="button" class="btn btn-success" ng-click="reloadData()"><i class="icmn-loop3"></i>&nbsp;Refresh</button>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;" ng-if="session.role == 'super' || session.role == 'admin'">
                            <select id="filter-agent_id"
                                    ng-model="data.agent_id"
                                    ng-init="initializeFilterAgent()"
                                    ng-change="refreshTable()"
                                    ng-if="session.role == 'super' || session.role == 'admin'">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filter-product_type_id"
                                    ng-model="data.product_type_id"
                                    ng-init="initializeFilterProductType()"
                                    ng-change="refreshTableAndFilterProductCategory()">
                                <option value=""></option>
                                <option ng-repeat="productType in productTypes" value="{{ productType.id }}">{{ productType.type }}</option>
                            </select>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filter-product_category_id"
                                    ng-model="data.product_category_id"
                                    ng-init="initializeFilterProductCategory()"
                                    ng-change="refreshTable()">
                                <option value=""></option>
                                <option ng-repeat="productCategory in productCategories" value="{{ productCategory.id }}">{{ productCategory.category }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="margin-bottom-50">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product -->

</div>