<div class="page-content-inner">

    <!-- Edit Role -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Role</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formRole" name="role" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputName">Role</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputName"
                                           name="role"
                                           class="form-control"
                                           placeholder="Role"
                                           data-validation="[NOTEMPTY, L>=2]"
                                           data-validation-regex="^[a-zA-Z]+$"
                                           data-validation-regex-message="Role must be an letter"
                                           ng-model="data.role">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="textAreaDescription">Description</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textAreaDescription"
                                              name="description"
                                              class="form-control"
                                              rows="3"
                                              placeholder="Description"
                                              ng-model="data.description">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Role -->

</div>