<div class="page-content-inner">

    <!-- Add Category -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Add Product Category</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formProductCategory" name="productCategory" method="POST" validate="create()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectProductType">Product Type</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectProductType"
                                            name="productType"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.product_type_id"
                                            ng-init="initializeType()">
                                        <option value=""></option>
                                        <option ng-repeat="productType in productTypes" value="{{ productType.id }}">{{ productType.type }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputCategoryy">Category</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputCategoryy"
                                           name="category"
                                           class="form-control"
                                           placeholder="Category"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.category">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="textAreaDescription">Description</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textAreaDescription"
                                              name="description"
                                              class="form-control"
                                              rows="3"
                                              placeholder="Description"
                                              ng-model="data.description">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Create</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add Category -->

</div>