<div class="page-content-inner">

    <!-- Edit Product Category -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Product Category</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formProductCategory" name="productCategory" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectProductType">Product Type</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectProductType"
                                            name="productType"
                                            class="select2"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.product_type_id"
                                            ng-init="initializeType()"
                                            ng-options="productType.id as productType.type for productType in productTypes">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputCategory">Category</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputCategory"
                                           name="category"
                                           class="form-control"
                                           placeholder="Category"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.category">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="textAreaDescription">Description</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="textAreaDescription"
                                              name="description"
                                              class="form-control"
                                              rows="3"
                                              placeholder="Description"
                                              ng-model="data.description">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Product Category -->

</div>