<div class="page-content-inner">

    <!-- Product Category -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Product Category</h2>
                    <br />
                    <div class="row">
                        <div class="col-md-10">
                            <button type="button" class="btn btn-success" ng-click="add()"><i class="fa fa-plus"></i>&nbsp;Add Product Category</button>
                            <button type="button" class="btn btn-success" ng-click="reloadData()"><i class="icmn-loop3"></i>&nbsp;Refresh</button>
                        </div>
                        <div class="col-md-2" style="padding-bottom: 10px;">
                            <select id="filterSelectProductType"
                                    ng-model="data.product_type_id"
                                    ng-init="initializeFilterProductType()"
                                    ng-change="refreshTable()">
                                <option value=""></option>
                                <option ng-repeat="productType in productTypes" value="{{ productType.id }}">{{ productType.type }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="margin-bottom-50">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product Category -->

</div>