@charset "UTF-8";
/* CSS Document */

.header-top-fluid {
    border-bottom:1px solid #ddd;
    z-index: 2;
}

#hero.register,
#hero.forgot_password {
    min-height: 768px;
    height: auto;
    display: block;
    text-transform: none;
    font-size: 12px;
    background: url(../images/header_bg_login.jpg) no-repeat center center;
    background-size: cover;
}

#register,
#forgot_password {
    margin: 170px 0 60px;
    color: #333;
    text-align: left;
    /*background-color: #fff;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);*/
    padding: 30px;
}

#register h3,
#forgot_password h3 {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
}

#register p,
#forgot_password p {
    color: #fff;
}

#search_blog {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search_blog.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    z-index: 999999;
    opacity: 1;
}

#search_blog input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 6vw;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search_blog .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
    background-color: limegreen;
    border: black;

}
#search_blog .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: limegreen;
    border-color: green;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
}


.modal-title {
    padding: 0;
    margin: 0;
}
.modal-room .item {
    padding: 10px;
    margin-bottom: 10px;
}
.modal-room .item h4 {
    font-weight: bold;
}
.modal-room .item-description {
    padding: 0;
    margin: 0;
}
.accordion [data-control] {
    background-color: #c9302c;
    border-bottom: 1px solid #fff;
    color: #fff;
    cursor: hand;
}


.sk-spinner {
    width: 75px;
    height: 75px;

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}


.title-detail {
    text-shadow: 2px 2px 2px #000000;
}

#price_single_main .price {
    font-size: 45px;
    color: #fff;
    text-shadow: 2px 2px 2px #000000;
}


/* Itinerary */
ul.detail_tmtimeline {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

/* The line */
.detail_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #e04f67;
    left: 5%;
    margin-left: -8px;
}

/* The date/time */
.detail_tmtimeline > li {
    position: relative;
}

.detail_tmtimeline > li .detail_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
    margin-top: -10px;
}

.detail_tmtimeline > li .detail_tmtime span {
    display: block;
    text-align: right;
}

.detail_tmtimeline > li .detail_tmtime span:first-child {
    font-size: 0.9em;
    color: #888;
    margin-bottom:5px;
}

.detail_tmtimeline > li .detail_tmtime span:last-child {
    font-size: 32px;
    font-weight:600;
}


/* Right content */
img.speaker {
    width:50px;
    height:50px;
    margin-left:15px;
    border:1px solid #fff;
}
.detail_tmtimeline > li .detail_tmlabel {
    margin: 0 0 15px 10%;
    background: #f2f2f2;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 2em;
    position: relative;
}

.detail_tmtimeline > li:nth-child(odd) .detail_tmlabel {
    background: #fff;
}
.detail_tmtimeline > li .detail_tmlabel h2 span {
    display: block;
    font-size:18px;
    color:#999;
    text-transform:none;
}

.detail_tmtimeline > li .detail_tmlabel h2 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    text-transform:uppercase;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-size:26px;
}

/* The triangle */
.detail_tmtimeline > li .detail_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f2f2f2;
    border-width: 10px;
    top: 10px;
}

.detail_tmtimeline > li:nth-child(odd) .detail_tmlabel:after {
    border-right-color:#fff;
}

/* The icons */
.detail_tmtimeline > li .detail_tmicon {
    width: 48px;
    height: 48px;
    font-family: 'fontello';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 24px;
    line-height: 48px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #e04f67;
    background:#f9f9f9;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #e04f67;
    text-align: center;
    left: 19.6%;
    top: -1%;
    margin: 0 0 0 -130px;
}

.timeline_icon_audio:before {
    content: "\e87d";
}

.timeline_icon_doc:before {
    content: "\e9c1";
}

.timeline_icon_video:before {
    content: "\e812";
}

.timeline_icon_test:before {
    content: "\e9ab";
}
.timeline_icon_break:before {
    content: "\ee64";
}
.timeline_icon_point:before {
    content: "\ecea";
}
.timeline_icon_pic:before {
    content: "\ee87";
}


/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .detail_tmtimeline > li .detail_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .detail_tmtimeline:before {
        display: none;
    }

    .detail_tmtimeline > li .detail_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .detail_tmtimeline > li .detail_tmtime span {
        text-align: left;
    }

    .detail_tmtimeline > li .detail_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .detail_tmtimeline > li .detail_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #e8f8f5;
        top: -20px;
    }

    .detail_tmtimeline > li:nth-child(odd) .detail_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #f9f9f9;
    }

    .detail_tmtimeline > li .detail_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -65px 5px 0 0px;
    }
}


a.btn_booking {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: #7c9b34;
    cursor: pointer;
    padding: 12px 20px;
    margin-bottom: 10px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: center;
}

a.btn_booking:hover {
    background: #91b53d;
}


.cart-room-pop {
    margin: 5px 0px 0px 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 2px solid #1A712C;
    border-bottom: 2px solid #f1f1f1;
}