<div class="page-content-inner">

    <!-- Edit Room -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Room</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="form-validation" name="form-validation" method="POST" validate="update()">
                            <div class="form-group row" ng-if="session.role == 'super' || session.role == 'admin'">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-agent_id">Agent</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="validation-agent_id"
                                            name="validation[agent]"
                                            ng-model="data.product.agent_id"
                                            data-validation="[NOTEMPTY]"
                                            ng-init="initializeAgent()"
                                            ng-change="refreshProduct()"
                                            disabled>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-product_id">Product</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="validation-product_id"
                                            name="validation[product]"
                                            ng-model="data.product_id"
                                            data-validation="[NOTEMPTY]"
                                            ng-init="initializeProduct()">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-title">Title</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="validation-title"
                                           class="form-control"
                                           placeholder="Title"
                                           ng-model="data.title"
                                           name="validation[title]"
                                           data-validation="[NOTEMPTY]">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-description">Description</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="validation-description"
                                              class="form-control"
                                              rows="3"
                                              placeholder="Description"
                                              ng-model="data.description"
                                              name="validation[description]">
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-adult_children_and_max">Adult, Children & Max</label>
                                </div>
                                <div class="col-md-2">
                                    <h-number value="data.adult"
                                              min="1"
                                              max="10"
                                              step="1"
                                              singular="Pax"
                                              plural="Pax"
                                              unit-position="right">
                                        <input id="validation-adult"
                                               type="text"
                                               name="validation[adult]"
                                               ng-model="data.adult"
                                               style="border: none;"
                                               readonly
                                               pu-elastic-input>
                                    </h-number>
                                </div>
                                <div class="col-md-2">
                                    <h-number value="data.children"
                                              min="1"
                                              max="10"
                                              step="1"
                                              singular="Pax"
                                              plural="Pax"
                                              unit-position="right">
                                        <input id="validation-children"
                                               type="text"
                                               name="validation[children]"
                                               ng-model="data.children"
                                               style="border: none;"
                                               readonly
                                               pu-elastic-input>
                                    </h-number>
                                </div>
                                <div class="col-md-2">
                                    <div ng-if="customMax">
                                        <h-number value="data.max"
                                                  min="1"
                                                  max="10"
                                                  step="1"
                                                  singular="Pax"
                                                  plural="Pax"
                                                  unit-position="right">
                                            <input id="validation-max"
                                                   type="text"
                                                   name="validation[max]"
                                                   data-validation="[V>=validation[total]]"
                                                   data-validation-message="Max must be greater or equal to total of adult and children"
                                                   ng-model="data.max"
                                                   ng-if="customMax"
                                                   style="border: none;"
                                                   readonly
                                                   pu-elastic-input>
                                        </h-number>
                                    </div>
                                    <div ng-if="!customMax">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="data.max"
                                               readonly>
                                    </div>
                                    <input type="text"
                                           ng-model="total"
                                           name="validation[total]"
                                           style="display: none;">
                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label">Custom Max ?</label>&nbsp;<input type="checkbox" ng-model="customMax">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-footage">Footage</label>
                                </div>
                                <div class="col-md-2">
                                    <h-number value="data.footage"
                                              min="0"
                                              step="1"
                                              singular="Meter"
                                              plural="Meter"
                                              unit-position="right">
                                        <input id="validation-footage"
                                               type="text"
                                               name="validation[footage]"
                                               data-validation="[V>0]"
                                               ng-model="data.footage"
                                               style="border: none;"
                                               readonly
                                               pu-elastic-input>
                                    </h-number>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-price">Price</label>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <div class="input-group-addon">Rp</div>
                                        <input type="number"
                                               id="validation-price"
                                               class="form-control"
                                               placeholder="Price"
                                               ng-model="data.price"
                                               name="validation[price]"
                                               data-validation="[V>0]"
                                               min="0">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase"
                                           for="validation-facility">Facility</label>
                                </div>
                                <div class="col-md-10">
                                    <ui-select multiple
                                               ng-model="data.room_facility"
                                               theme="bootstrap"
                                               title="Choose a room facility"
                                               spinner-enabled="true"
                                               spinner-class="glyphicon-refresh ui-select-spin">
                                        <ui-select-match placeholder="- Please Choose -">{{ $item.facility }}</ui-select-match>
                                        <ui-select-choices refresh="refreshRoomFacility($select.search)"
                                                           refresh-delay="0"
                                                           minimum-input-length="3"
                                                           repeat="roomFacility.id as roomFacility in roomFacilities | propsFilter: { facility: $select.search }">
                                            <img ng-src="{{ roomFacility.image_url }}" width="20" style="float: left; margin-right: 10px;" />
                                            <label ng-bind-html="roomFacility.facility | highlight: $select.search"></label>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="validation-policy">Policy</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea id="validation-policy"
                                              class="form-control"
                                              rows="3"
                                              placeholder="Policy"
                                              ng-model="data.policy"
                                              name="validation[policy]">
                                    </textarea>
                                </div>
                            </div>
                            <br />
                            <div class="nav-tabs-horizontal">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#option" role="tab">
                                            <i class="fa fa-gear"></i>
                                            Option
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#bed" role="tab">
                                            <i class="fa fa-bed"></i>
                                            Bed
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#image" role="tab">
                                            <i class="icmn-images2"></i>
                                            Image
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content padding-vertical-20">
                                    <div class="tab-pane active" id="option" role="tabpanel">
                                        <textarea ui-tinymce="tinymceBasicOptions" ng-model="data.option"></textarea>
                                    </div>
                                    <div class="tab-pane" id="bed" role="tabpanel">
                                        <fieldset  data-ng-repeat="bed in beds">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <select id="validation-bed_{{ $index }}"
                                                            class="select2-bed"
                                                            name="validation[bed {{ $index + 1 }}]"
                                                            ng-model="bed.id"
                                                            data-validation="[NOTEMPTY]"
                                                            ng-init="initializeBed()"
                                                            ng-options='item.id as item.name for item in items'>
                                                        <option value=""></option>
                                                    </select>
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-danger" ng-click="removeBed($index)">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <button type="button" class="btn btn-primary" ng-click="addBed()">
                                            <i class="icms icmn-plus2" aria-hidden="true"></i>&nbsp;Add Bed
                                        </button>
                                    </div>
                                    <div class="tab-pane" id="image" role="tabpanel">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <ul class="list-unstyled container-fluid">
                                                    <div class="thumbnail col-md-2" ng-repeat="image in images" style="text-align: center; vertical-align: middle;">
                                                        <thumbnail file-type="image" source="{{ image.url }}" max-height="175" max-width="175"></thumbnail>
                                                        <br /><br />
                                                        <div class="caption text-center">
                                                            <p>
                                                                <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#view-detail-image" ng-click="detailImage($index)">
                                                                    <span class="fa fa-pencil" aria-hidden="true"></span>
                                                                </button>
                                                                <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="removeImage($index)">
                                                                    <span class="fa fa-trash" aria-hidden="true"></span>
                                                                </button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="thumbnail col-md-2">
                                                        <a id="set-image"
                                                           href="/filemanager/dialog.php?type=1&field_id=validation-image&akey={{ fileManager.akey }}"
                                                           class="iframe"
                                                           ng-init="setImage()">
                                                            <p>
                                                                <i class="fa fa-plus-circle" style="font-size: 50px;"></i>
                                                            </p>
                                                        </a>
                                                    </div>
                                                </ul>
                                                <input type="text"
                                                       id="validation-image"
                                                       name="validation[image]"
                                                       ng-model="_images"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       ng-model="data.product.agent_id"
                                       ng-if="session.role != 'super' || session.role != 'admin'">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Role -->

</div>

<!-- Page Scripts -->
<script>
    $(function () {
        $('#validation-image').css("visibility", "hidden");

        $('#validation-image').observe_field(1, function() {
            $('#validation-image').trigger('input');
        });
    })

    function responsive_filemanager_callback() {
        parent.$.fancyboxPlus.close();
    }
</script>
<!-- End Page Scripts-->