<div class="page-content-inner">

    <!-- Product Discount -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Calendar Discount</h2>
                    <button type="button" class="btn btn-primary" ng-click="cancel()">View Discounts</button>
                    <button type="button" class="btn btn-success" ng-click="refresh()">Refresh Calendar</button>
                    <br style="clear: both;" />
                    <br style="clear: both;" />
                    <br style="clear: both;" />
                    <div>
                        <h2 ng-bind-html="data.title"></h2>
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product Discount -->

</div>