<div class="page-content-inner">

    <!-- Edit User -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit User</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formUser" name="user" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="selectRole">Role</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="selectRole"
                                            name="role"
                                            class="form-control"
                                            data-validation="[NOTEMPTY]"
                                            ng-model="data.role[0].id"
                                            ng-init="initializeRole()"
                                            ng-options='role.id as role.role for role in roles'>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputEmail">Email</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputEmail"
                                           name="email"
                                           class="form-control"
                                           placeholder="Email"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.email"
                                           readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputPassword">Password</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="password"
                                           id="inputPassword"
                                           name="password"
                                           class="form-control"
                                           placeholder="Password"
                                           ng-model="data.password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputConfirmPassword">Confirm Password</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="password"
                                           id="inputConfirmPassword"
                                           name="confirmPassword"
                                           class="form-control"
                                           placeholder="Confirmation Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputHandphone">Handphone</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputHandphone"
                                           name="handphone"
                                           class="form-control"
                                           data-validation="[OPTIONAL]"
                                           data-validation-regex="/^\+?\d+$/"
                                           data-validation-regex-message="Handphone must be a +628113808231 or 08113808231"
                                           ng-model="data.handphone"
                                           ng-intl-tel-input>
                                    <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="data.handphone.$invalid && data.handphone.$touched">Invalid handphone number</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Status</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.status" uib-btn-radio="1">Enable</label>
                                        <label class="btn btn-success" ng-model="data.status" uib-btn-radio="0">Disable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit User -->

</div>