<div class="page-content-inner">

    <!-- Profile Header -->
    <nav class="top-submenu top-submenu-with-background">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <div class="col-xl-8 col-xl-offset-4">
                        <div class="profile-header-title">
                            <h2>
                                <span ng-if="data_profile_view.first_name || data_profile_view.last_name" ng-bind-html="data_profile_view.first_name + data_profile_view.last_name"></span>
                                <span ng-if="!data_profile_view.first_name && !data_profile_view.last_name">Who am i?</span>
                                &nbsp;<small ng-bind-html="data.role[0].role"></small>
                            </h2>
                            <p ng-bind-html="data.email"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Profile Header -->

    <!-- Profile -->
    <div class="row">
        <div class="col-xl-4">
            <section class="panel profile-user" style="background-image: url(./assets/common/images/admin/login/1.jpg)">
                <div class="panel-body">
                    <div class="profile-user-title text-center">
                        <a class="avatar" href="javascript:void(0);">
                            <img ng-if="data_profile_view.image_url" ng-src="{{ data_profile_view.image_url }}" alt="{{ data_profile_view.name }}">
                            <img ng-if="!data_profile_view.image_url" ng-src="./assets/common/images/admin/avatar.jpg" alt="Who am i?">
                        </a>
                        <br />
                        <div class="btn-group btn-group-justified" aria-label="" role="group">
                            <div class="btn-group">
                                <button type="button" class="btn width-150 swal-btn-success" data-toggle="modal" data-target="#view-change-password" ng-click="changePasswordModal(data.id)"><span class="fa fa-gear"></span>&nbsp;Change Password</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn width-150 swal-btn-success-2" data-toggle="modal" data-target="#view-edit-profile" ng-click="editProfileModal(data.role[0].id, data.id)"><span class="fa fa-pencil"></span>&nbsp;Edit Profile</button>
                            </div>
                        </div>
                        <br />
                        <p>Last activity: {{ data.current_login | date:'yyyy-MM-dd HH:mm a' }}</p>
                        <p ng-if="data.status == 1"><span class="donut donut-success"></span>Online</p>
                        <p ng-if="data.status == 0"><span class="donut donut-error"></span>Offline</p>
                    </div>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <div class="profile-user-skills">
                        <h4>Information</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-uppercase">Gender</label>
                                <span class="pull-sm-right">:</span>
                            </div>
                            <div class="col-md-9">
                                <span class="label label-info" ng-if="data_profile_view.gender" ng-bind-html="data_profile_view.gender"></span>
                                <span class="label label-danger" ng-if="!data_profile_view.gender">N/A</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-uppercase">Address</label>
                                <span class="pull-sm-right">:</span>
                            </div>
                            <div class="col-md-9">
                                <span ng-if="data_profile_view.address" ng-bind-html="data_profile_view.address"></span>
                                <span class="label label-danger" ng-if="!data_profile_view.address">N/A</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-uppercase">Country</label>
                                <span class="pull-sm-right">:</span>
                            </div>
                            <div class="col-md-9">
                                <span ng-if="data_profile_view.country.name" ng-bind-html="data_profile_view.country.name"></span>
                                <span class="label label-danger" ng-if="!data_profile_view.country.name">N/A</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-uppercase">State</label>
                                <span class="pull-sm-right">:</span>
                            </div>
                            <div class="col-md-9">
                                <span ng-if="data_profile_view.state.name" ng-bind-html="data_profile_view.state.name"></span>
                                <span class="label label-danger" ng-if="!data_profile_view.state.name">N/A</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-uppercase">City</label>
                                <span class="pull-sm-right">:</span>
                            </div>
                            <div class="col-md-9">
                                <span ng-if="data_profile_view.city" ng-bind-html="data_profile_view.city"></span>
                                <span class="label label-danger" ng-if="!data_profile_view.city">N/A</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-uppercase">Zip</label>
                                <span class="pull-sm-right">:</span>
                            </div>
                            <div class="col-md-9">
                                <span ng-if="data_profile_view.zip" ng-bind-html="data_profile_view.zip"></span>
                                <span class="label label-danger" ng-if="!data_profile_view.zip">N/A</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-uppercase">Phone</label>
                                <span class="pull-sm-right">:</span>
                            </div>
                            <div class="col-md-9">
                                <span ng-if="data_profile_view.phone" ng-bind-html="data_profile_view.phone"></span>
                                <span class="label label-danger" ng-if="!data_profile_view.phone">N/A</span>
                            </div>
                        </div>
                        <div class="row" ng-if="data.role[0].id == 3">
                            <div class="col-md-3">
                                <label class="text-uppercase">Fax</label>
                                <span class="pull-sm-right">:</span>
                            </div>
                            <div class="col-md-9">
                                <span ng-if="data_profile_view.fax" ng-bind-html="data_profile_view.fax"></span>
                                <span class="label label-danger" ng-if="!data_profile_view.fax">N/A</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xl-8">
            <section class="panel profile-user-content">
                <div class="panel-body">

                </div>
            </section>
        </div>
    </div>
    <div class="modal fade modal-size-large" id="view-edit-profile" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="formProfile" name="profile" method="POST" validate="createOrUpdateProfile()" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Edit Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputName">Name</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text"
                                       id="inputName"
                                       name="name"
                                       class="form-control"
                                       placeholder="Name"
                                       data-validation="[NOTEMPTY]"
                                       ng-model="data_profile_create_or_update.name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase">Gender</label>
                            </div>
                            <div class="col-md-10">
                                <div class="btn-group">
                                    <label class="btn btn-success" ng-model="data_profile_create_or_update.gender" uib-btn-radio="'male'">Male</label>
                                    <label class="btn btn-success" ng-model="data_profile_create_or_update.gender" uib-btn-radio="'female'">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="textAreaAddress">Address</label>
                            </div>
                            <div class="col-md-10">
                                    <textarea id="textAreaAddress"
                                              name="address"
                                              class="form-control"
                                              rows="2"
                                              placeholder="Address"
                                              data-validation="[NOTEMPTY]"
                                              ng-model="data_profile_create_or_update.address">
                                    </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="selectCountry">Country</label>
                            </div>
                            <div class="col-md-10">
                                <select id="selectCountry"
                                        name="country"
                                        class="select2"
                                        data-validation="[NOTEMPTY]"
                                        ng-model="data_profile_create_or_update.country_id"
                                        ng-change="getStateListByCountry(data_profile_create_or_update.country_id)"
                                        ng-init="initializeCountry()"
                                        ng-options="country.id as country.name for country in countries">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="selectState">State</label>
                            </div>
                            <div class="col-md-10">
                                <select id="selectState"
                                        name="state"
                                        class="select2"
                                        data-validation="[NOTEMPTY]"
                                        ng-model="data_profile_create_or_update.state_id"
                                        ng-init="initializeState()"
                                        ng-options="state.id as state.name for state in states">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputCity">City</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text"
                                       id="inputCity"
                                       name="city"
                                       class="form-control"
                                       placeholder="City"
                                       data-validation="[NOTEMPTY]"
                                       ng-model="data_profile_create_or_update.city">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputZip">Zip</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text"
                                       id="inputZip"
                                       name="zip"
                                       class="form-control"
                                       placeholder="Zip"
                                       data-validation="[OPTIONAL]"
                                       data-validation-regex="/^(\s*|\d+)$/"
                                       data-validation-regex-message="Zip must be an integer"
                                       ng-model="data_profile_create_or_update.zip">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputImage">Image</label>
                            </div>
                            <div class="col-md-2">
                                <input type="file"
                                       id="inputImage"
                                       name="image"
                                       accept="image/jpeg,image/jpg,image/png,image/gif"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputPhone">Phone</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text"
                                       id="inputPhone"
                                       name="phone"
                                       class="form-control"
                                       data-validation="[NOTEMPTY]"
                                       data-validation-regex="/^\+?\d+$/"
                                       data-validation-regex-message="Phone must be a +623614745677 or 03614745677"
                                       ng-model="data_profile_create_or_update.phone"
                                       ng-intl-tel-input>
                                <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="profile.phone.$invalid && profile.phone.$touched">Invalid phone number</span>
                            </div>
                        </div>
                        <div class="form-group row" ng-if="data.role[0].id == 3">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputFax">Fax</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text"
                                       id="inputFax"
                                       name="fax"
                                       class="form-control"
                                       data-validation="[OPTIONAL]"
                                       data-validation-regex="/^\+?\d+$/"
                                       data-validation-regex-message="Fax must be a +623614745677 or 03614745677"
                                       ng-model="data_profile_create_or_update.fax"
                                       ng-intl-tel-input>
                                <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="profile.fax.$invalid && profile.fax.$touched">Invalid fax number</span>
                            </div>
                        </div>
                        <input type="hidden"
                               id="inputUserId"
                               class="form-control"
                               ng-model="data.id">
                        <input type="hidden"
                               id="inputIdOfProfile"
                               class="form-control"
                               ng-model="data_profile_create_or_update.id"
                               ng-if="data_profile_create_or_update">
                        <input type="hidden"
                               id="inputImageUrl"
                               class="form-control"
                               ng-model="data_profile_create_or_update.image_url"
                               ng-if="data_profile_create_or_update">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade modal-size-large" id="view-change-password" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="formChangePassword" name="changePassword" method="POST" validate="updatePassword()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Change Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputPassword">Password</label>
                            </div>
                            <div class="col-md-10">
                                <input type="password"
                                       id="inputPassword"
                                       name="password"
                                       class="form-control"
                                       placeholder="Password"
                                       ng-model="data.password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputConfirmPassword">Confirm Password</label>
                            </div>
                            <div class="col-md-10">
                                <input type="password"
                                       id="inputConfirmPassword"
                                       name="confirmPassword"
                                       class="form-control"
                                       placeholder="Confirmation Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-control-label text-uppercase" for="inputHandphone">Handphone</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text"
                                       id="inputHandphone"
                                       name="handphone"
                                       class="form-control"
                                       data-validation="[OPTIONAL]"
                                       data-validation-regex="/^\+?\d+$/"
                                       data-validation-regex-message="Handphone must be a +628113808231 or 08113808231"
                                       ng-model="data.handphone"
                                       ng-intl-tel-input>
                                <span style="color: #FF0000; font-size: 12px; font-weight: bold; margin-top: 5px;" ng-show="changePassword.handphone.$invalid && changePassword.handphone.$touched">Invalid handphone number</span>
                            </div>
                        </div>
                        <input type="hidden"
                               id="inputIdOfChangePassword"
                               name="id"
                               class="form-control"
                               ng-model="data.id">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Profile -->

</div>