<div class="page-content-inner">

    <!-- Property Type -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Property Type</h2>
                    <br />
                    <button type="button" class="btn btn-success" ng-click="add()"><i class="fa fa-plus"></i>&nbsp;Add Property Type</button>
                    <button type="button" class="btn btn-success" ng-click="reloadData()"><i class="icmn-loop3"></i>&nbsp;Refresh</button>
                    <div class="margin-bottom-50">
                        <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Property Type -->

</div>