<div class="page-content-inner">

    <!-- Add Currency -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Add Currency</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formCurrency" name="currency" method="POST" validate="create()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputCode">Code</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputCode"
                                           name="code"
                                           class="form-control"
                                           placeholder="Code"
                                           data-validation="[NOTEMPTY, L>=2]"
                                           data-validation-regex="^[a-zA-Z]+$"
                                           data-validation-regex-message="Code must be an letter"
                                           ng-model="data.code">
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Create</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Add Currency -->

</div>