<div class="page-content-inner">

    <!-- Edit Currency -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Currency</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formCurrency" name="currency" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputName">Name</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputName"
                                           name="name"
                                           class="form-control"
                                           placeholder="Name"
                                           data-validation="[NOTEMPTY, L>=2]"
                                           ng-model="data.name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputCode">Code</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputCode"
                                           name="code"
                                           class="form-control"
                                           placeholder="Code"
                                           data-validation="[NOTEMPTY, L>=2]"
                                           data-validation-regex="^[a-zA-Z]+$"
                                           data-validation-regex-message="Code must be an letter"
                                           ng-model="data.code"
                                           readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputSymbol">Symbol</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputSymbol"
                                           name="symbol"
                                           class="form-control"
                                           placeholder="Symbol"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.symbol">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputFormat">Format</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputFormat"
                                           name="format"
                                           class="form-control"
                                           placeholder="Format"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.format">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputExchangeRate">Exchange Rate</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputExchangeRate"
                                           name="exchangeRate"
                                           class="form-control"
                                           placeholder="Exchange Rate"
                                           ng-model="data.exchange_rate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Active</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.active" uib-btn-radio="1">Enable</label>
                                        <label class="btn btn-success" ng-model="data.active" uib-btn-radio="0">Disable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-primary width-150" ladda="syncronising" data-style="expand-right" ng-click="sync()">Sync Currency</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Currency -->

</div>