<div class="page-content-inner">

    <!-- Edit Payment -->
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Edit Payment</h2>
                    <br />
                    <div class="margin-bottom-50">
                        <form id="formPayment" name="payment" method="POST" validate="update()">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputPayment">Payment</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text"
                                           id="inputPayment"
                                           name="payment"
                                           class="form-control"
                                           placeholder="Payment"
                                           data-validation="[NOTEMPTY]"
                                           ng-model="data.payment">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputDescription">Description</label>
                                </div>
                                <div class="col-md-10">
                                    <textarea ui-tinymce="tinymceBasicOptions" ng-model="data.description"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase" for="inputImage">Image</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="file"
                                           id="inputImage"
                                           name="image"
                                           accept="image/jpeg,image/jpg,image/png,image/gif"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="form-control-label text-uppercase">Status</label>
                                </div>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="data.status" uib-btn-radio="1">Enable</label>
                                        <label class="btn btn-success" ng-model="data.status" uib-btn-radio="0">Disable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="hidden"
                                       id="inputId"
                                       name="id"
                                       class="form-control"
                                       ng-model="data.id">
                                <input type="hidden"
                                       id="inputImageUrl"
                                       name="imageUrl"
                                       class="form-control"
                                       ng-model="data.image_url">
                                <button type="submit" class="btn btn-primary width-150" ladda="loading" data-style="expand-right">Update</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Edit Facility -->

</div>